---
import ServiceCard from "./ServiceCard.astro";
---

<section class="">
  <!-- Container -->
  <div class="text-black pb-4 mb-8 relative">
    <div
      class="mx-auto mb-8 pt-[82px] flex max-w-3xl flex-col items-center text-center md:mb-12 lg:mb-16"
      id="applying-student-visa"
    >
      <h2 class="text-3xl font-bold">Pre-departure and Post-arrival</h2>
      <p
        class="mx-auto mb-8 mt-4 max-w-sm md:max-w-xl lg:max-w-3xl text-base text-[#636262] md:mb-12 md:text-lg lg:mb-16"
      >
        Remember that preparation is key to a smooth transition, and being aware
        of the following factors will contribute to a positive and enjoyable
        experience abroad.
      </p>
    </div>

    <svg
      class="w-16 h-16 lg:w-24 lg:h-24 -z-0 absolute bottom-5 top-1.5 left-5 right-0"
      viewBox="0 0 102 102"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <rect width="102" height="102" fill="white"></rect>
      <path
        d="M22.205 56.2142L21.575 55.3942C21.3193 55.0771 21.0854 54.743 20.875 54.3942C20.4727 53.7186 20.1378 53.0052 19.875 52.2642C19.5848 50.7191 19.9468 49.1229 20.875 47.8542C21.3453 47.1943 21.8705 46.5755 22.445 46.0042C22.715 45.7342 22.855 45.6142 23.055 45.4242L23.625 44.9342C24.385 44.2942 25.135 43.7242 25.895 43.1742C28.895 41.0142 31.895 39.1742 34.895 37.2942C37.065 35.9342 39.125 34.4542 41.215 33.0942C43.065 31.8842 44.885 30.6542 46.525 29.3542C46.935 29.0342 47.325 28.7042 47.695 28.3542L48.235 27.8542L48.595 27.5042C48.901 27.2488 49.1094 26.8955 49.185 26.5042C49.185 26.0542 48.785 25.8042 48.415 25.6142L48.265 25.5342L48.055 25.4342L47.355 25.1242C46.905 24.9142 46.355 24.7142 45.895 24.5142C43.895 23.7242 41.785 23.0242 39.655 22.4142C35.8753 21.3475 32.0163 20.5851 28.115 20.1342C25.635 19.8342 23.115 19.5442 20.655 19.3642L16.905 19.1042C16.2778 19.0815 15.6529 19.0147 15.035 18.9042C14.405 18.8242 13.775 18.7742 13.145 18.7042C11.565 18.5142 11.715 18.1142 13.015 17.3242C13.9061 16.7846 14.8314 16.3035 15.785 15.8842C17.0967 15.3837 18.482 15.1032 19.885 15.0542C22.5891 14.9462 25.2973 14.9996 27.995 15.2142C30.6813 15.4941 33.3514 15.9113 35.995 16.4642C38.6347 16.9943 41.2449 17.6619 43.815 18.4642C45.105 18.8742 46.395 19.3142 47.675 19.8242L48.675 20.2042L49.675 20.6442C50.5879 21.0585 51.479 21.5191 52.345 22.0242C53.4373 22.6663 54.2451 23.6993 54.605 24.9142C54.8977 26.1551 54.727 27.4602 54.125 28.5842C53.7999 29.1615 53.4216 29.7072 52.995 30.2142C52.795 30.4742 52.565 30.7442 52.355 30.9842L51.865 31.5042C51.225 32.1642 50.575 32.7542 49.925 33.3142C47.404 35.4401 44.7558 37.4105 41.995 39.2142L33.095 45.0042C31.645 46.0042 30.215 46.9442 28.885 48.0042C28.215 48.5142 27.575 49.0042 26.995 49.5642L26.595 49.9242L26.385 50.1242C26.2477 50.2683 26.1207 50.4221 26.005 50.5842C25.8456 50.7812 25.767 51.0314 25.785 51.2842C25.8681 51.5185 25.9825 51.7405 26.125 51.9442L26.335 52.2342L26.505 52.4642L26.735 52.7342C27.075 53.0842 27.375 53.4542 27.735 53.7942C29.2153 55.1928 30.8297 56.4422 32.555 57.5242C38.0341 60.8948 43.8868 63.6165 49.995 65.6342C54.7345 67.1527 59.5638 68.3751 64.455 69.2942C65.525 69.5142 66.595 69.6642 67.665 69.9042C69.0787 70.2831 70.4272 70.8731 71.665 71.6542C72.3579 72.2003 72.8702 72.9426 73.135 73.7842C73.2741 74.1263 73.391 74.477 73.485 74.8342C73.555 75.3842 73.145 75.7542 72.285 76.0742C71.101 76.5009 69.8398 76.6713 68.585 76.5742L66.835 76.4942H65.965L65.105 76.3542C63.965 76.1542 62.825 75.9342 61.675 75.6842C59.395 75.1942 57.105 74.6042 54.815 73.9342C50.1602 72.559 45.5976 70.889 41.155 68.9342C37.7522 67.4628 34.4515 65.7657 31.275 63.8542C29.6297 62.8571 28.0436 61.7653 26.525 60.5842C24.8972 59.3383 23.4026 57.9275 22.065 56.3742L22.205 56.2142Z"
        fill="#231F20"></path>
      <path
        d="M79.995 78.5144C80.8151 78.2277 81.625 77.8944 82.425 77.5144L82.7351 77.3844L82.885 77.3144H82.945H83.085C83.1973 77.3035 83.308 77.28 83.4151 77.2444C83.532 77.22 83.646 77.1831 83.755 77.1344C83.8115 77.1222 83.8635 77.0945 83.9051 77.0544C83.9051 77.0544 83.9051 76.9544 83.9051 76.9144C83.8407 76.8406 83.7899 76.7559 83.755 76.6644C83.7045 76.4885 83.6376 76.3178 83.555 76.1544C83.555 76.1544 83.5051 76.0444 83.475 75.9944L83.355 75.8344L83.185 75.6144L82.505 74.7644L79.695 71.3144C78.855 70.3144 77.905 69.3844 76.965 68.4544C76.3127 67.8981 75.7316 67.2633 75.235 66.5644C74.7306 65.8173 74.2859 65.0315 73.905 64.2144C73.695 63.6544 74.145 63.4944 74.905 63.4844C75.3267 63.4833 75.7478 63.5134 76.165 63.5744C76.663 63.6126 77.1521 63.7272 77.615 63.9144C78.0118 64.0741 78.3905 64.2752 78.745 64.5144L79.745 65.2944C80.385 65.8144 81.0351 66.3544 81.6651 66.9144C82.9728 68.0276 84.1746 69.2595 85.255 70.5944C85.5669 71.0182 85.9007 71.4255 86.255 71.8144L86.8151 72.3844L87.715 73.2544C88.3397 73.8696 88.9243 74.5243 89.465 75.2144C89.9373 75.802 90.2783 76.484 90.465 77.2144C90.5057 77.513 90.5057 77.8158 90.465 78.1144C90.4187 78.4235 90.271 78.7084 90.045 78.9244L89.505 79.6344C89.265 79.8544 88.955 80.0644 88.685 80.2844C87.745 80.8744 86.685 81.3944 85.785 81.9144L85.205 82.1844L84.715 82.4144C84.3951 82.5644 84.055 82.7044 83.715 82.8444C82.345 83.4444 80.935 83.9344 79.535 84.4244C77.3926 85.1163 75.2081 85.6708 72.995 86.0844C71.2349 86.5315 69.4479 86.8655 67.645 87.0844C67.2288 87.1094 66.8113 87.1094 66.395 87.0844C65.8095 87.1147 65.2375 86.9011 64.815 86.4944C64.5067 86.037 64.3917 85.4763 64.495 84.9344C64.5043 84.5995 64.5343 84.2655 64.585 83.9344C64.7198 82.9625 65.4326 82.1704 66.385 81.9344C67.675 81.6344 68.875 81.4744 70.145 81.1944C71.415 80.9144 72.705 80.6944 74.025 80.3444C76.0496 79.8432 78.0349 79.1948 79.965 78.4044L79.995 78.5144Z"
        fill="#231F20"></path>
    </svg>

    <svg
      viewBox="0 0 102 102"
      class="bg-primary-100 absolute w-16 h-16 lg:w-24 lg:h-24 bottom-5 right-5"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <rect width="102" height="102" fill="white"></rect>
      <path
        d="M38.7642 66.9785C41.1344 67.8859 43.6566 68.3306 46.1942 68.2885C48.9727 68.2613 51.7397 67.9259 54.4442 67.2885C56.4442 66.8185 58.4442 66.0985 60.4442 65.4385C63.8842 64.3385 67.7042 62.7485 71.8642 61.9085C74.0046 61.4454 76.1991 61.2838 78.3842 61.4285C80.6347 61.6207 82.8158 62.3033 84.7742 63.4285C86.5355 64.4135 88.0716 65.7554 89.2842 67.3685C90.4763 68.9438 91.2936 70.77 91.6742 72.7085C92.6517 77.5269 91.2058 82.5185 87.8042 86.0685C86.8042 87.1185 86.5042 86.5285 86.6542 85.2185C86.7542 84.5785 86.8442 83.6985 87.0042 82.7585C87.0042 82.2685 87.1342 81.7585 87.2042 81.2585C87.2742 80.7585 87.3742 80.2585 87.4442 79.6685C87.7903 77.8515 87.7903 75.9855 87.4442 74.1685C87.1069 72.5439 86.2921 71.057 85.1042 69.8985C83.8924 68.7709 82.3889 68.0053 80.7642 67.6885C80.3527 67.5859 79.9353 67.5091 79.5142 67.4585C79.0842 67.4585 78.6642 67.3685 78.2142 67.3285C77.2893 67.2478 76.3591 67.2478 75.4342 67.3285C72.9163 67.6019 70.4584 68.2771 68.1542 69.3285C66.9242 69.8385 65.6442 70.3985 64.2742 70.9285C62.9042 71.4585 61.5742 71.9285 60.1842 72.3685C57.1206 73.3161 53.983 74.0051 50.8042 74.4285C47.5236 74.8814 44.1939 74.8443 40.9242 74.3185C36.7066 73.681 32.8032 71.7118 29.7842 68.6985C25.438 64.1012 23.2024 57.9016 23.6142 51.5885C23.7242 49.272 23.9982 46.9662 24.4342 44.6885C24.8808 42.4378 25.4993 40.2246 26.2842 38.0685C26.6035 37.1219 27.005 36.205 27.4842 35.3285C29.3742 32.0985 30.4842 31.3785 31.8842 31.3285C32.2002 31.2987 32.5183 31.2987 32.8342 31.3285C33.7842 31.5185 33.6542 33.1485 32.9842 35.6285C32.7142 36.5385 32.4942 37.4685 32.2642 38.3885C32.0342 39.3085 31.7142 40.1685 31.5042 41.0685C31.0051 42.816 30.5978 44.5884 30.2842 46.3785C30.0049 48.108 29.8611 49.8566 29.8542 51.6085C29.8893 53.2606 30.0869 54.9052 30.4442 56.5185C30.5342 57.1085 30.7842 57.6485 30.9242 58.2285C31.0642 58.8085 31.3742 59.3085 31.5742 59.8685C31.7742 60.4285 32.1442 60.8685 32.4142 61.4385C32.6842 62.0085 33.0842 62.3685 33.4142 62.8585C34.8028 64.6726 36.6742 66.0589 38.8142 66.8585L38.7642 66.9785Z"
        fill="#231F20"></path>
      <path
        d="M24.9942 19.4587C27.5142 17.4587 31.0642 14.7487 35.8342 15.0187C37.4925 15.1159 39.0976 15.6394 40.4942 16.5387C42.4912 17.9932 44.1295 19.8846 45.2842 22.0687C46.3354 23.9916 47.2252 25.9985 47.9442 28.0687C48.6242 29.8187 49.3842 31.5187 50.1442 33.1587C51.1442 35.2487 52.0342 37.3587 52.8242 39.4187C53.0642 40.0587 52.4742 40.4187 51.4542 40.4187C50.1298 40.2966 48.9126 39.6393 48.0842 38.5987C47.7042 38.0787 47.3442 37.5587 47.0042 37.0387L46.4842 36.2587L46.0542 35.4487C45.4942 34.3787 44.9642 33.3087 44.4542 32.2487C43.4542 30.1187 42.4542 28.0387 41.6142 25.9887C40.7386 23.735 39.0662 21.8811 36.9142 20.7787C35.9313 20.3389 34.8212 20.2749 33.7942 20.5987C32.4926 21.0069 31.2665 21.625 30.1642 22.4287C28.5946 23.5247 27.1103 24.7382 25.7242 26.0587C23.5529 28.0582 21.5711 30.2542 19.8042 32.6187C18.5323 34.495 17.4025 36.4639 16.4242 38.5087C16.1842 38.9487 15.9942 39.3987 15.7342 39.8287C15.5456 40.1794 15.3282 40.5139 15.0842 40.8287C14.8882 41.0388 14.6584 41.2146 14.4042 41.3487C13.9138 41.5681 13.3624 41.6105 12.8442 41.4687C12.5577 41.4294 12.2738 41.3726 11.9942 41.2987C11.1342 41.0287 10.8042 39.9487 11.1142 38.4587C11.4439 37.3709 11.8345 36.3026 12.2842 35.2587C12.7498 34.2331 13.2671 33.2318 13.8342 32.2587C14.9898 30.3105 16.2901 28.452 17.7242 26.6987C19.8914 24.0155 22.3053 21.5414 24.9342 19.3087L24.9942 19.4587Z"
        fill="#231F20"></path>
    </svg>
  </div>
  <div>
    <!-- Component -->

    <div class="relative">
      <ServiceCard
        id={7}
        stepName=" Pre-departure and Post-arrival"
        image="https://images.unsplash.com/photo-1698594691362-d40d565268cf?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        header="Key to a smooth transition"
        description=""
        features={[
          "Visa and Documentations.",
          "Health Insurance",
          "Finances",
          "Accommodation",
          "Cultural Understanding",
          "Emergency Contacts",
          "Local Transportation",
          "Weather and Clothing",
          "Social Network",
          "Local Laws and Regulations",
          "Personal Safety",
        ]}
      />

      <ServiceCard
        id={8}
        stepName="Bring your family to Australia"
        image="https://images.unsplash.com/photo-1536010305525-f7aa0834e2c7?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        header="Bring your family to Australia"
        description="To ease your concerts, we offer pre-departure sessions to inform the above factors, aiming to prepare you for the upcoming changes and challenges. "
        features={[
          "Students can add a secondary applicant to their application. It can be a spouse, child or de-facto partner. You can add them when you lodge your application or after a visa grant.",
          "On the student visa, your spouse or partner would also have the same working rights as you.",
          "Once you arrive at your destination, we provide post-arrival sessions to make your transaction smoother and help you settle into your new life with ease. ",
        ]}
      />
    </div>
  </div>
</section>
