<section>
  <!-- Container -->
  <div class="mx-auto w-full max-w-7xl px-5 py-16 md:px-10 md:py-24">
    <!-- Component -->
    <div
      class="mx-auto mb-8 flex max-w-3xl flex-col items-center text-center md:mb-12 lg:mb-16"
    >
      <h2 class="text-3xl font-bold">Free Counselling to Define Your Path</h2>
      <p
        class="mx-auto mb-8 mt-4 max-w-sm md:max-w-3xl text-base text-[#636262] md:mb-12 md:text-lg lg:mb-16"
      >
        Embarking on a journey to study in Australia is an exciting venture, and
        at Seed Education, we're here to guide you every step of the way. Our
        commitment begins with offering free counselling sessions to help you
        determine the prerequisites for your educational journey.
      </p>
      <div class="flex justify-center">
        <div class="mr-6 md:mr-10 lg:mr-12">
          <h3 class="text-2xl font-bold md:text-3xl">45K+</h3>
          <p class="text-sm text-[#636262]">Happy Customers</p>
        </div>
        <div>
          <h3 class="text-2xl font-bold md:text-3xl">200K+</h3>
          <p class="text-sm text-[#636262]">Students Sent</p>
        </div>
      </div>
    </div>
    <!-- Image -->
    <img
      src="https://images.unsplash.com/photo-1541339907198-e08756dedf3f?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      alt=""
      class="inline-block h-full w-full object-cover"
    />
  </div>
</section>
