<section>
  <!-- Container -->
  <div class="mx-auto w-full max-w-7xl px-5 py-16 md:px-10 md:py-24">
    <!-- Component -->
    <div
      class="mx-auto mb-8 flex max-w-3xl flex-col items-center text-center md:mb-12 lg:mb-16 relative"
    >
      <h2 class="text-3xl font-bold z-10">
        Free Counselling to Define Your Path
      </h2>
      <p
        class="mx-auto mb-8 mt-4 max-w-sm md:max-w-3xl text-base text-[#636262] md:mb-12 md:text-lg lg:mb-16"
      >
        Embarking on a journey to study in Australia is an exciting venture, and
        at Seed Education, we're here to guide you every step of the way. Our
        commitment begins with offering free counselling sessions to help you
        determine the prerequisites for your educational journey.
      </p>
      <div class="flex justify-center">
        <div class="mr-6 md:mr-10 lg:mr-12">
          <h3 class="text-2xl font-bold md:text-3xl">45K+</h3>
          <p class="text-sm text-[#636262]">Happy Customers</p>
        </div>
        <div>
          <h3 class="text-2xl font-bold md:text-3xl">200K+</h3>
          <p class="text-sm text-[#636262]">Students Sent</p>
        </div>
      </div>

      <svg
        viewBox="0 0 102 102"
        class="bg-primary-100 absolute w-16 h-16 lg:w-24 lg:h-24 bottom-5 right-5"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <rect width="102" height="102" fill="white"></rect>
        <path
          d="M31.2957 61.4775C30.2454 60.9917 29.2717 60.355 28.4057 59.5875C27.4838 58.7747 26.7296 57.7896 26.1857 56.6875C25.66 55.6304 25.3217 54.4902 25.1857 53.3175C25.016 52.1653 25.0363 50.9931 25.2457 49.8475C25.6736 47.5737 26.7785 45.4823 28.4157 43.8475C29.8414 42.4181 31.4895 41.2294 33.2957 40.3275C36.6407 38.6821 40.2308 37.5912 43.9257 37.0975C44.8357 36.9775 45.7657 36.8775 46.7157 36.8275C47.6657 36.7775 48.6157 36.8275 49.5557 36.8275C51.4054 36.9432 53.2439 37.1972 55.0557 37.5875C60.2593 38.7006 65.2103 40.7725 69.6557 43.6975C71.5969 45.0247 73.4173 46.5204 75.0957 48.1675C75.5057 48.5975 75.9357 48.9975 76.3257 49.4475L77.4957 50.8075L78.5957 52.3475C78.9457 52.8775 79.2157 53.4575 79.5257 54.0075C80.6551 56.2927 81.2404 58.8083 81.2357 61.3575C81.2222 63.842 80.6944 66.2969 79.6857 68.5675C78.7148 70.7867 77.3608 72.8177 75.6857 74.5675C74.8362 75.4572 73.9129 76.2735 72.9257 77.0075C72.4357 77.3575 71.9257 77.7075 71.4457 78.0075C70.908 78.3326 70.3502 78.6231 69.7757 78.8775C67.5206 79.9125 65.0556 80.409 62.5757 80.3275C61.1762 80.2758 59.816 79.8511 58.6357 79.0975C57.3855 78.2413 56.4981 76.9511 56.1457 75.4775C55.8622 74.2457 55.9175 72.9603 56.3057 71.7575C56.6448 70.68 57.1292 69.6539 57.7457 68.7075C58.915 66.8899 60.4021 65.2979 62.1357 64.0075C65.5521 61.3897 69.7747 60.0459 74.0757 60.2075C79.6296 60.3878 84.8154 63.0301 88.2257 67.4175C88.6468 67.9533 89.0247 68.5217 89.3557 69.1175C89.7077 69.7015 90.025 70.3059 90.3057 70.9275C90.8691 72.1722 91.2465 73.493 91.4257 74.8475C91.7253 77.4465 91.556 80.0782 90.9257 82.6175C90.5857 84.1575 90.3057 84.7875 90.1657 84.7175C90.0257 84.6475 89.9657 83.8675 89.8257 82.5475C89.6415 80.7782 89.2899 79.0304 88.7757 77.3275C88.4437 76.2927 88.0221 75.2889 87.5157 74.3275C86.999 73.2911 86.3792 72.3095 85.6657 71.3975C85.3676 70.9662 85.0331 70.5614 84.6657 70.1875C84.5005 69.9807 84.3164 69.7899 84.1157 69.6175C84.0214 69.5234 83.9175 69.4396 83.8057 69.3675L83.5257 69.0875C83.148 68.7243 82.7435 68.39 82.3157 68.0875C81.9023 67.7619 81.4605 67.474 80.9957 67.2275C79.1768 66.1983 77.1711 65.5422 75.0957 65.2975C70.9398 64.67 66.7232 65.9567 63.6257 68.7975C62.8765 69.514 62.2061 70.3085 61.6257 71.1675C61.1204 71.8731 60.7508 72.6666 60.5357 73.5075C60.4033 74.0144 60.4751 74.5529 60.7357 75.0075C61.0905 75.4748 61.6223 75.7751 62.2057 75.8375C64.2163 76.0788 66.2545 75.7604 68.0957 74.9175C68.3457 74.8175 68.5657 74.6975 68.8057 74.5875C69.0295 74.4772 69.2466 74.3537 69.4557 74.2175C69.9057 73.8875 70.3957 73.6075 70.8257 73.2175C71.6979 72.5596 72.5049 71.8195 73.2357 71.0075C74.1142 69.9854 74.8601 68.8565 75.4557 67.6475C76.0304 66.4357 76.4343 65.1502 76.6557 63.8275C76.977 61.8642 76.8297 59.8529 76.2257 57.9575C76.1257 57.6475 75.9757 57.3575 75.8557 57.0475C75.7409 56.7378 75.5969 56.4398 75.4257 56.1575C73.9493 53.744 72.0166 51.6414 69.7357 49.9675C67.3909 48.1759 64.8675 46.6311 62.2057 45.3575C56.3457 42.5375 49.8357 41.0075 43.5757 42.2075C40.4259 42.684 37.3815 43.6988 34.5757 45.2075C33.2798 45.9196 32.1298 46.8695 31.1857 48.0075C30.3498 49.043 29.882 50.327 29.8557 51.6575C29.7828 53.2883 30.4127 54.8721 31.5857 56.0075C32.9694 57.1319 34.6518 57.8271 36.4257 58.0075C40.3773 58.5012 44.3893 58.1013 48.1657 56.8375C51.0099 55.8044 53.6703 54.3222 56.0457 52.4475C58.4252 50.6831 60.3486 48.3757 61.6557 45.7175C62.8453 43.1692 62.8962 40.2355 61.7957 37.6475C60.5802 34.9753 58.7381 32.6358 56.4257 30.8275C52.7642 27.9354 48.5098 25.8867 43.9657 24.8275C42.8454 24.5347 41.7105 24.3011 40.5657 24.1275C39.4257 23.9375 38.2657 23.8575 37.1157 23.7275C34.812 23.5973 32.5016 23.6474 30.2057 23.8775L28.6957 24.0075C28.2057 24.0075 27.6957 24.1875 27.2257 24.2775L25.7457 24.5575L24.2757 24.9375L22.9257 25.2675C22.5157 25.3875 22.1357 25.5275 21.7557 25.6475C21.0157 25.8875 20.3057 26.0275 19.6957 26.2675C18.4857 26.7275 17.4457 26.9875 16.6357 27.2675C15.4038 27.7296 14.0893 27.9305 12.7757 27.8575C12.2905 27.8507 11.8063 27.814 11.3257 27.7475C10.7157 27.5775 10.9757 26.8875 11.9957 25.6375C12.2805 25.2815 12.5913 24.9473 12.9257 24.6375C13.3157 24.3275 13.7557 23.9875 14.2457 23.6375C15.4012 22.8195 16.6337 22.1162 17.9257 21.5375C22.2588 19.5258 26.9355 18.3583 31.7057 18.0975C36.5945 17.7697 41.5035 18.2701 46.2257 19.5775C51.1448 20.8998 55.7285 23.2479 59.6757 26.4675C61.7466 28.1682 63.5501 30.1706 65.0257 32.4075C65.7969 33.618 66.434 34.909 66.9257 36.2575C67.4267 37.689 67.7263 39.1834 67.8157 40.6975C67.9149 42.9596 67.5048 45.2151 66.6157 47.2975C65.778 49.2144 64.6516 50.9917 63.2757 52.5675C60.6844 55.4587 57.5697 57.8338 54.0957 59.5675C53.2557 60.0075 52.3857 60.4075 51.5057 60.7775C50.5873 61.1689 49.6455 61.5029 48.6857 61.7775C46.8504 62.2723 44.9824 62.6365 43.0957 62.8675C41.182 63.1068 39.2497 63.1604 37.3257 63.0275C35.2318 62.9047 33.1748 62.4209 31.2457 61.5975L31.2957 61.4775Z"
          fill="#231F20"></path>
      </svg>
    </div>
    <!-- Image -->
    <img
      src="https://images.unsplash.com/photo-1541339907198-e08756dedf3f?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      alt=""
      class="inline-block h-full w-full object-cover"
    />
  </div>
</section>
