---
import ServiceCard from "./ServiceCard.astro";
---

<section class="">
  <!-- Container -->
  <div class="bg-primary-100 text-black pb-4">
    <div
      class="mx-auto mb-8 pt-[82px] flex max-w-3xl flex-col items-center text-center md:mb-12 lg:mb-16"
      id="applying-student-visa"
    >
      <h2 class="text-3xl font-bold">
        Assist Student Visa Application: Your Gateway to Studying in Australia
      </h2>
      <p
        class="mx-auto mb-8 mt-4 max-w-sm md:max-w-xl lg:max-w-3xl text-base text-[#636262] md:mb-12 md:text-lg lg:mb-16"
      >
        Our trained team knows about the updates in the application process and
        is here to explain to you the step-by-step process and what you need to
        do to apply for your studies.
      </p>
    </div>
  </div>
  <div class="">
    <!-- Component -->

    <div class="relative">
      <ServiceCard
        id={4}
        stepName="Visa Guidance"
        image="https://i.postimg.cc/Z56T1Vkp/study-visa-for-australia.jpg"
        header="Step-by-Step Visa Guidance"
        description="Navigate the student visa application process with expert assistance and step-by-step guidance."
        features={[
          "Certified Counsellors: Our dedicated guides bring years of experience, ensuring accurate and reliable information.",
          "Financial Planning: Setting up your finances prior to arrival makes your transition smoother.",
          "Specialized Products: Some financial institutions offer products or discounts tailored for students.",
        ]}
      />

      <ServiceCard
        id={5}
        stepName="Application Support"
        image="https://i.postimg.cc/qRVDWxTh/australian-visa-application.jpg"
        header="Visa Application Support"
        description="Ensure you meet all the necessary requirements for a successful student visa application."
        features={[
          "Document Verification: Assistance in ensuring your application is complete and accurate.",
          "Submission Guidance: Expert advice on submitting your application for a smooth process.",
          "Outcome Assurance: Monitor the progress of your application and receive post-application support.",
        ]}
      />

      <ServiceCard
        id={6}
        stepName="Outcome Assurance"
        image="https://i.postimg.cc/hvVtnBh8/632da82f83a24ef171804d47-62fd046e642a377c6c7064ef-pexels-nataliya-vaitkevich-7235894-scaled.jpg"
        header="Visa Outcome Assurance"
        description="Confidently await your visa outcome with the support of our experienced visa assistance team."
        features={[
          "Application Monitoring: Stay informed about the progress of your application.",
          "Post-application Support: Navigate the post-application period with ease, supported by our team.",
          "Smooth Transition: Ensure a positive experience abroad with pre-departure and post-arrival sessions.",
        ]}
      />
    </div>
  </div>
</section>
