---
import ServiceCard from "./ServiceCard.astro";
---

<section class="">
  <!-- Container -->
  <div class="text-black pb-4 mb-8 relative">
    <div
      class="mx-auto mb-8 pt-[82px] flex max-w-3xl flex-col items-center text-center md:mb-12 lg:mb-16"
      id="applying-student-visa"
    >
      <h2 class="text-3xl font-bold z-10">
        Assist Student Visa Application: Your Gateway to Studying in Australia
      </h2>
      <p
        class="mx-auto mb-8 mt-4 max-w-sm md:max-w-xl lg:max-w-3xl text-base text-[#636262] md:mb-12 md:text-lg lg:mb-16 z-10"
      >
        Our trained team knows about the updates in the application process and
        is here to explain to you the step-by-step process and what you need to
        do to apply for your studies.
      </p>
    </div>

    <svg
      class="bg-primary-100 w-16 h-16 lg:w-24 lg:h-24 -z-0 absolute bottom-5 top-1.5 left-5 right-0"
      viewBox="0 0 102 102"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <rect width="102" height="102" fill="white"></rect>
      <path
        d="M52.0796 67.1838C55.7419 66.715 59.2835 65.5616 62.5196 63.7838C65.7204 62.1426 68.4679 59.7385 70.5196 56.7838C71.4037 55.4073 71.9771 53.8546 72.1996 52.2338C72.2946 51.4467 72.2946 50.651 72.1996 49.8638C72.1115 49.0687 71.9302 48.2866 71.6596 47.5338C71.2878 46.2853 70.3998 45.2553 69.2196 44.7038C67.881 44.2401 66.4216 44.2649 65.0996 44.7738C62.7384 45.621 60.6605 47.1101 59.0996 49.0738C57.3914 51.1493 56.0028 53.4682 54.9796 55.9538C54.5044 57.0513 54.1067 58.1807 53.7896 59.3338C53.491 60.4775 53.2705 61.6402 53.1296 62.8138C52.8611 65.1832 52.9454 67.5792 53.3796 69.9238C53.5796 71.0438 53.9154 72.1351 54.3796 73.1738C54.6046 73.6636 54.8618 74.138 55.1496 74.5938C55.4494 75.0206 55.7838 75.422 56.1496 75.7938C56.4951 76.1645 56.877 76.4995 57.2896 76.7938C57.7696 77.0538 58.2896 77.3638 58.7296 77.6038C59.1696 77.8438 59.7296 78.0638 60.2996 78.2138C60.8454 78.3766 61.3995 78.5101 61.9596 78.6138C66.5496 79.4138 71.6296 78.1838 76.0796 76.0238C80.6232 73.9136 84.4478 70.5166 87.0796 66.2538C89.5136 62.4539 91.1343 58.191 91.8396 53.7338C92.6407 49.3529 92.14 44.8332 90.3996 40.7338C89.2148 38.2058 87.3829 36.0359 85.0896 34.4438C82.7488 32.8328 80.1055 31.7135 77.3196 31.1538C71.6354 29.9891 65.7366 30.4749 60.3196 32.5538C58.6396 33.2238 57.8996 33.5538 57.8496 33.3238C57.7996 33.0938 58.4696 32.4738 59.8496 31.5938C61.7607 30.4127 63.8273 29.504 65.9896 28.8938C69.138 27.9889 72.4265 27.6737 75.6896 27.9638C78.9741 28.2592 82.1735 29.1719 85.1196 30.6538C88.1677 32.2261 90.7529 34.5665 92.6196 37.4438C94.3996 40.3571 95.4812 43.6428 95.7796 47.0438C96.0759 50.3362 95.8668 53.6546 95.1596 56.8838C93.8114 63.3647 90.6725 69.3376 86.0996 74.1238C83.7428 76.4937 81.0047 78.4509 77.9996 79.9138C75.0314 81.4155 71.8404 82.4285 68.5496 82.9138C66.5189 83.2365 64.4549 83.2936 62.4096 83.0838C60.2701 82.8705 58.1885 82.2637 56.2696 81.2938C55.7896 81.0338 55.2696 80.7838 54.8296 80.4938C54.3896 80.2038 53.8296 79.8138 53.4396 79.4338C52.5931 78.664 51.8472 77.7904 51.2196 76.8338C50.065 74.9924 49.2457 72.961 48.7996 70.8338C47.9294 66.7867 47.9294 62.6009 48.7996 58.5538C49.6916 54.5423 51.393 50.755 53.7996 47.4238C55.1358 45.5882 56.7365 43.9605 58.5496 42.5938C60.475 41.1376 62.6922 40.1143 65.0496 39.5938C66.3198 39.3358 67.6239 39.2885 68.9096 39.4538C70.2815 39.6394 71.5922 40.139 72.7396 40.9138C73.8553 41.7051 74.7867 42.7286 75.4696 43.9138C76.1015 44.9932 76.5731 46.1587 76.8696 47.3738C77.4297 49.7242 77.4297 52.1734 76.8696 54.5238C76.2901 56.7994 75.2709 58.9396 73.8696 60.8238C71.1275 64.3529 67.601 67.1947 63.5696 69.1238C61.1616 70.3386 58.6214 71.2714 55.9996 71.9038C53.3281 72.5948 50.5616 72.8447 47.8096 72.6438C45.0411 72.3945 42.3355 71.6741 39.8096 70.5138C37.3061 69.297 35.0484 67.6291 33.1496 65.5938C30.2869 62.5305 28.2648 58.7791 27.2796 54.7038C25.7907 48.6234 26.4991 42.2125 29.2796 36.6038L30.0196 35.2438L30.8296 33.9338C31.4279 33.0605 32.0968 32.2378 32.8296 31.4738C34.2321 29.9002 35.8678 28.5512 37.6796 27.4738C38.2063 27.1772 38.7671 26.9455 39.3496 26.7838C40.074 26.5696 40.8403 26.5386 41.5796 26.6938C42.4106 26.9076 43.1441 27.3978 43.6596 28.0838C43.8849 28.3635 44.0762 28.669 44.2296 28.9938C44.2896 29.1438 44.3596 29.2838 44.4296 29.4538C44.4996 29.6238 44.5496 29.8438 44.5896 30.0438C44.7577 31.049 44.6718 32.0803 44.3396 33.0438C44.0727 33.8442 43.7382 34.6203 43.3396 35.3638C42.603 36.7819 41.7252 38.122 40.7196 39.3638C38.7881 42.0077 36.2458 44.1451 33.3096 45.5938C32.4848 45.9564 31.6182 46.2151 30.7296 46.3638C30.2695 46.4373 29.8052 46.4807 29.3396 46.4938C28.8996 46.4938 28.5296 46.4938 28.1196 46.4938C26.4668 46.4651 24.824 46.23 23.2296 45.7938C19.7133 44.9039 16.71 42.6225 14.9096 39.4738C13.4002 36.7291 12.7619 33.59 13.0796 30.4738C13.2715 28.0937 13.9523 25.7788 15.0796 23.6738C15.8393 22.2172 16.8556 20.9096 18.0796 19.8138C18.8995 19.0647 19.8717 18.5019 20.9296 18.1638C21.705 17.9638 22.5164 17.9467 23.2996 18.1138C23.8795 18.1895 24.4435 18.3583 24.9696 18.6138C25.2596 18.8238 25.2396 19.0838 24.9696 19.4438C24.8317 19.6521 24.6779 19.8494 24.5096 20.0338C24.3296 20.2838 24.0996 20.5238 23.8596 20.8338C23.4196 21.4838 22.8096 22.1438 22.1796 23.0238C21.4455 24.0663 20.8285 25.1863 20.3396 26.3638C19.5019 28.3271 19.1059 30.4505 19.1796 32.5838C19.2047 34.4752 19.8791 36.3004 21.0896 37.7538C22.3932 39.135 24.1217 40.0397 25.9996 40.3238C26.532 40.4277 27.0693 40.5045 27.6096 40.5538C28.1496 40.5538 28.7796 40.6138 29.2696 40.6338C30.1093 40.5944 30.928 40.3581 31.6596 39.9438C33.5944 38.8598 35.2941 37.4015 36.6596 35.6538C37.3796 34.7744 38.022 33.8342 38.5796 32.8438C38.822 32.4215 39.0294 31.98 39.1996 31.5238C39.2312 31.4387 39.2579 31.3519 39.2796 31.2638C39.308 31.2 39.3282 31.1328 39.3396 31.0638C39.4596 30.9238 39.0396 30.9338 39.9996 30.9438C40.1573 30.9337 40.3143 30.9136 40.4696 30.8838C40.6096 30.8838 40.6596 30.8838 40.7696 30.8338H40.9096H40.9796L39.4296 31.4238L39.5296 31.3738C39.6801 31.3076 39.8241 31.2272 39.9596 31.1338L40.1596 30.9838L40.3096 30.8838C40.4044 30.8095 40.4946 30.7293 40.5796 30.6438C40.8196 30.4338 40.8596 30.2438 40.8096 30.4038C40.7186 30.8121 40.7186 31.2355 40.8096 31.6438C40.8096 31.7638 40.8096 32.0138 40.8996 32.1738L40.7796 32.2338C40.6318 32.3056 40.4882 32.3857 40.3496 32.4738C39.9424 32.7428 39.5548 33.0402 39.1896 33.3638C38.3209 34.1349 37.5119 34.9706 36.7696 35.8638C36.436 36.2545 36.1222 36.6616 35.8296 37.0838C35.5496 37.5938 35.2096 38.0838 34.9596 38.6038C33.2968 41.6572 32.3979 45.0676 32.3396 48.5438C32.2658 52.0367 33.118 55.4869 34.8096 58.5438C36.4663 61.5469 38.9845 63.985 42.0396 65.5438C43.5903 66.3117 45.2442 66.8506 46.9496 67.1438L48.2496 67.3238C48.6696 67.3238 49.0596 67.4038 49.4896 67.4038C50.3617 67.416 51.2337 67.3692 52.0996 67.2638L52.0796 67.1838Z"
        fill="#231F20"></path>
    </svg>

    <svg
      viewBox="0 0 102 102"
      class="absolute w-16 h-16 lg:w-24 lg:h-24 bottom-5 right-5"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <rect width="102" height="102" fill="white"></rect>
      <path
        d="M31.2957 61.4775C30.2454 60.9917 29.2717 60.355 28.4057 59.5875C27.4838 58.7747 26.7296 57.7896 26.1857 56.6875C25.66 55.6304 25.3217 54.4902 25.1857 53.3175C25.016 52.1653 25.0363 50.9931 25.2457 49.8475C25.6736 47.5737 26.7785 45.4823 28.4157 43.8475C29.8414 42.4181 31.4895 41.2294 33.2957 40.3275C36.6407 38.6821 40.2308 37.5912 43.9257 37.0975C44.8357 36.9775 45.7657 36.8775 46.7157 36.8275C47.6657 36.7775 48.6157 36.8275 49.5557 36.8275C51.4054 36.9432 53.2439 37.1972 55.0557 37.5875C60.2593 38.7006 65.2103 40.7725 69.6557 43.6975C71.5969 45.0247 73.4173 46.5204 75.0957 48.1675C75.5057 48.5975 75.9357 48.9975 76.3257 49.4475L77.4957 50.8075L78.5957 52.3475C78.9457 52.8775 79.2157 53.4575 79.5257 54.0075C80.6551 56.2927 81.2404 58.8083 81.2357 61.3575C81.2222 63.842 80.6944 66.2969 79.6857 68.5675C78.7148 70.7867 77.3608 72.8177 75.6857 74.5675C74.8362 75.4572 73.9129 76.2735 72.9257 77.0075C72.4357 77.3575 71.9257 77.7075 71.4457 78.0075C70.908 78.3326 70.3502 78.6231 69.7757 78.8775C67.5206 79.9125 65.0556 80.409 62.5757 80.3275C61.1762 80.2758 59.816 79.8511 58.6357 79.0975C57.3855 78.2413 56.4981 76.9511 56.1457 75.4775C55.8622 74.2457 55.9175 72.9603 56.3057 71.7575C56.6448 70.68 57.1292 69.6539 57.7457 68.7075C58.915 66.8899 60.4021 65.2979 62.1357 64.0075C65.5521 61.3897 69.7747 60.0459 74.0757 60.2075C79.6296 60.3878 84.8154 63.0301 88.2257 67.4175C88.6468 67.9533 89.0247 68.5217 89.3557 69.1175C89.7077 69.7015 90.025 70.3059 90.3057 70.9275C90.8691 72.1722 91.2465 73.493 91.4257 74.8475C91.7253 77.4465 91.556 80.0782 90.9257 82.6175C90.5857 84.1575 90.3057 84.7875 90.1657 84.7175C90.0257 84.6475 89.9657 83.8675 89.8257 82.5475C89.6415 80.7782 89.2899 79.0304 88.7757 77.3275C88.4437 76.2927 88.0221 75.2889 87.5157 74.3275C86.999 73.2911 86.3792 72.3095 85.6657 71.3975C85.3676 70.9662 85.0331 70.5614 84.6657 70.1875C84.5005 69.9807 84.3164 69.7899 84.1157 69.6175C84.0214 69.5234 83.9175 69.4396 83.8057 69.3675L83.5257 69.0875C83.148 68.7243 82.7435 68.39 82.3157 68.0875C81.9023 67.7619 81.4605 67.474 80.9957 67.2275C79.1768 66.1983 77.1711 65.5422 75.0957 65.2975C70.9398 64.67 66.7232 65.9567 63.6257 68.7975C62.8765 69.514 62.2061 70.3085 61.6257 71.1675C61.1204 71.8731 60.7508 72.6666 60.5357 73.5075C60.4033 74.0144 60.4751 74.5529 60.7357 75.0075C61.0905 75.4748 61.6223 75.7751 62.2057 75.8375C64.2163 76.0788 66.2545 75.7604 68.0957 74.9175C68.3457 74.8175 68.5657 74.6975 68.8057 74.5875C69.0295 74.4772 69.2466 74.3537 69.4557 74.2175C69.9057 73.8875 70.3957 73.6075 70.8257 73.2175C71.6979 72.5596 72.5049 71.8195 73.2357 71.0075C74.1142 69.9854 74.8601 68.8565 75.4557 67.6475C76.0304 66.4357 76.4343 65.1502 76.6557 63.8275C76.977 61.8642 76.8297 59.8529 76.2257 57.9575C76.1257 57.6475 75.9757 57.3575 75.8557 57.0475C75.7409 56.7378 75.5969 56.4398 75.4257 56.1575C73.9493 53.744 72.0166 51.6414 69.7357 49.9675C67.3909 48.1759 64.8675 46.6311 62.2057 45.3575C56.3457 42.5375 49.8357 41.0075 43.5757 42.2075C40.4259 42.684 37.3815 43.6988 34.5757 45.2075C33.2798 45.9196 32.1298 46.8695 31.1857 48.0075C30.3498 49.043 29.882 50.327 29.8557 51.6575C29.7828 53.2883 30.4127 54.8721 31.5857 56.0075C32.9694 57.1319 34.6518 57.8271 36.4257 58.0075C40.3773 58.5012 44.3893 58.1013 48.1657 56.8375C51.0099 55.8044 53.6703 54.3222 56.0457 52.4475C58.4252 50.6831 60.3486 48.3757 61.6557 45.7175C62.8453 43.1692 62.8962 40.2355 61.7957 37.6475C60.5802 34.9753 58.7381 32.6358 56.4257 30.8275C52.7642 27.9354 48.5098 25.8867 43.9657 24.8275C42.8454 24.5347 41.7105 24.3011 40.5657 24.1275C39.4257 23.9375 38.2657 23.8575 37.1157 23.7275C34.812 23.5973 32.5016 23.6474 30.2057 23.8775L28.6957 24.0075C28.2057 24.0075 27.6957 24.1875 27.2257 24.2775L25.7457 24.5575L24.2757 24.9375L22.9257 25.2675C22.5157 25.3875 22.1357 25.5275 21.7557 25.6475C21.0157 25.8875 20.3057 26.0275 19.6957 26.2675C18.4857 26.7275 17.4457 26.9875 16.6357 27.2675C15.4038 27.7296 14.0893 27.9305 12.7757 27.8575C12.2905 27.8507 11.8063 27.814 11.3257 27.7475C10.7157 27.5775 10.9757 26.8875 11.9957 25.6375C12.2805 25.2815 12.5913 24.9473 12.9257 24.6375C13.3157 24.3275 13.7557 23.9875 14.2457 23.6375C15.4012 22.8195 16.6337 22.1162 17.9257 21.5375C22.2588 19.5258 26.9355 18.3583 31.7057 18.0975C36.5945 17.7697 41.5035 18.2701 46.2257 19.5775C51.1448 20.8998 55.7285 23.2479 59.6757 26.4675C61.7466 28.1682 63.5501 30.1706 65.0257 32.4075C65.7969 33.618 66.434 34.909 66.9257 36.2575C67.4267 37.689 67.7263 39.1834 67.8157 40.6975C67.9149 42.9596 67.5048 45.2151 66.6157 47.2975C65.778 49.2144 64.6516 50.9917 63.2757 52.5675C60.6844 55.4587 57.5697 57.8338 54.0957 59.5675C53.2557 60.0075 52.3857 60.4075 51.5057 60.7775C50.5873 61.1689 49.6455 61.5029 48.6857 61.7775C46.8504 62.2723 44.9824 62.6365 43.0957 62.8675C41.182 63.1068 39.2497 63.1604 37.3257 63.0275C35.2318 62.9047 33.1748 62.4209 31.2457 61.5975L31.2957 61.4775Z"
        fill="#231F20"></path>
    </svg>
  </div>
  <div class="">
    <!-- Component -->

    <div class="relative">
      <ServiceCard
        id={4}
        stepName="Visa Guidance"
        image="https://i.postimg.cc/Z56T1Vkp/study-visa-for-australia.jpg"
        header="Step-by-Step Visa Guidance"
        description="Navigate the student visa application process with expert assistance and step-by-step guidance."
        features={[
          "Certified Counsellors: Our dedicated guides bring years of experience, ensuring accurate and reliable information.",
          "Financial Planning: Setting up your finances prior to arrival makes your transition smoother.",
          "Specialized Products: Some financial institutions offer products or discounts tailored for students.",
        ]}
      />

      <ServiceCard
        id={5}
        stepName="Application Support"
        image="https://i.postimg.cc/qRVDWxTh/australian-visa-application.jpg"
        header="Visa Application Support"
        description="Ensure you meet all the necessary requirements for a successful student visa application."
        features={[
          "Document Verification: Assistance in ensuring your application is complete and accurate.",
          "Submission Guidance: Expert advice on submitting your application for a smooth process.",
          "Outcome Assurance: Monitor the progress of your application and receive post-application support.",
        ]}
      />

      <ServiceCard
        id={6}
        stepName="Outcome Assurance"
        image="https://i.postimg.cc/hvVtnBh8/632da82f83a24ef171804d47-62fd046e642a377c6c7064ef-pexels-nataliya-vaitkevich-7235894-scaled.jpg"
        header="Visa Outcome Assurance"
        description="Confidently await your visa outcome with the support of our experienced visa assistance team."
        features={[
          "Application Monitoring: Stay informed about the progress of your application.",
          "Post-application Support: Navigate the post-application period with ease, supported by our team.",
          "Smooth Transition: Ensure a positive experience abroad with pre-departure and post-arrival sessions.",
        ]}
      />
    </div>
  </div>
</section>
