---

---

<div class="max-w-7xl mx-auto sm:py-20 py-2 sm:px-4 px-2" >
    
    <img src="https://thesavvyimg.co.uk/wp-content/uploads/2022/08/img-crash-course-gmc-registration-1024x576.png" alt="course" 
    class="my-6 w-full object-cover h-[500px]">
    <p class="text-base text-gray-500">10th July 2022</p>
    <h6 class="sm:text-3xl text-2xl font-semibold text-black text-start mt-4">Congratulations! AEMS's customers Australian visa were approved</h6>

        <div class="flex flex-col gap-2 mt-4">
            <h6 class="font-[500] sm:text-xl text-lg text-black">Why Study in Australia</h6>
            <p class="sm:text-lg text-base font-[400] text-black">
                US universities has carved a niche for themselves in the STEM courses. International students looking to pursue higher studies in STEM courses prefer to go to Australia over other options. Also, it is not just the STEM courses, students looking to study business, management or arts courses can also find top universities in the US.
            </p>
        </div>
        <div class="flex flex-col gap-2 mt-4">
            <h6 class="font-[500] sm:text-xl text-lg text-black">Education System in Australia</h6>
            <p class="sm:text-lg text-base font-[400] text-black">
                US Education System is categorised into different groups. First, it is the primary school followed by middle school, and then post-secondary education. When it comes to higher education system in Australia, there are 4 types of institutions in the Australia namely State College or University, Private College of University, Community Colleges, and Technology Institutes.
            </p>
        </div>
</div>