---
---

<div class="max-w-7xl mx-auto md:py-[100px] py-[50px] px-2">
    <div class="flex items-start justify-between md:flex-row flex-col-reverse md:gap-0 gap-4">
        <div class="flex flex-col items-start gap-4">
            <div class="flex items-center gap-4">
                <div class="w-1 h-10 bg-primary-300"/>
                <h6 class="text-4xl font-semibold border-black text-black">Guide to study in Australia</h6>
            </div>
            <p class="text-base font-[400] text-black leading-7 tracking-normal">Australia’s coastline stretches almost 50,000 kilometres and is linked by over 10,000 beaches, more than any other country in the world. More than 85 per cent of Australians live within 50 kilometres of the coast, making it an integral part of our laid-back lifestyle.</p>
        </div>

        <div class="md:min-w-[200px] w-[200px] h-[200px] rounded-full border-[6px] border-primary-300 overflow-hidden">
            <img src="https://ik.imagekit.io/mepl/wp-content/uploads/2021/04/11-ways-australian.jpg" alt="AU's university" class="w-full h-full object-cover">
        </div>
    </div>

    <div class="flex flex-col gap-4 mt-4">
    <div class="flex flex-col gap-2 mt-4">
        <h6 class="font-[500] sm:text-xl text-lg text-black"> Phase 1 - Research</h6>
        <p class="sm:text-lg text-base font-[400] text-black">
            Choose what you want to study, find a school or college, and pick a city that suits your lifestyle and budget. Explore subjects, read course descriptions and reviews, then make a list to help narrow down your options.
        </p>
    </div>

    <div class="flex flex-col gap-2 mt-4">
        <h6 class="font-[500] sm:text-xl text-lg text-black">Phase 2 - Talk with SSEEDEED counsellors</h6>
        <p class="sm:text-lg text-base font-[400] text-black">
            Book a meeting with a  counsellor, who are certified and often former international students. They offer friendly advice based on personal experiences from various study locations worldwide. Bring your wish-list and course preferences to the appointment. And your counsellor will help find the best match between you, your future university, your VET colleges, and your area of study.
        </p>
    </div>
 
    <div class="flex flex-col gap-2 mt-4">
        <h6 class="font-[500] sm:text-xl text-lg text-black">Phase 3 - Prepare and validate your documents</h6>
        <p class="sm:text-lg text-base font-[400] text-black">
            Once you have picked your course and school, it’s time to apply, and a SEED counsellor will help. We follow strict legal and ethical standards, personally contacting your chosen institution to boost your chances of acceptance. If your supporting documents are in your first language, you must get them translated into English and notaries them with the translation authorities. 
        </p>
    </div>
    
    <div class="flex flex-col gap-2 mt-4">
        <h6 class="font-[500] sm:text-xl text-lg text-black">Phase 4 - Accept the offer</h6>
        <p class="sm:text-lg text-base font-[400] text-black">
            Once you apply, the institution will review your application and let you know the result in a few weeks. If accepted, you will get a letter and an acceptance form. Your counsellor will go through it with you, checking any conditions. If you have multiple acceptances, we will assist you in choosing the best option.
        </p>
    </div>

    <div class="flex flex-col gap-2 mt-4">
        <h6 class="font-[500] sm:text-xl text-lg text-black">Phase 5 - Enhance your English</h6>
        <p class="sm:text-lg text-base font-[400] text-black">
            As said, “Practice makes you perfect”. It is needed to keep your English skills improving, especially if English is not your first language. Encouragement to watch things like news, talk shows, read books, or listen to podcasts with formal English or even attending the IELTS preparation courses in order to get the band score you are aiming for.
        </p>
    </div>

    <p class="sm:text-lg text-base font-[400] text-black">
        Finally, you are on the way to encounter your new adventure! 
    </p>

    <p class="sm:text-lg text-base font-[400] text-black">
        Things to consider before and after reaching Australia such as Health Insurance, SIM cards, Money Exchange, and bank accounts. Talk to us here!
    </p>
    </div>

         
</div>