---
import studyPlanFees from "../../data/studyPlanFees";
import GuideStepper from "../../components/guides/GuideStepper";
import livingCosts from "data/livingCosts";
---

<div class="max-w-7xl mx-auto md:py-[100px] py-[50px] px-5">
  <div
    class="flex items-start justify-between md:flex-row flex-col-reverse md:gap-0 gap-4"
  >
    <div class="flex flex-col items-start gap-4">
      <div class="flex items-center gap-4">
        <div class="w-1 h-10 bg-primary-300"></div>
        <h6 class="text-3xl font-semibold border-black text-black">
          Guide to study in Australia
        </h6>
      </div>
      <p class="text-base font-[400] text-black leading-7 tracking-normal">
        Australia’s coastline stretches almost 50,000 kilometres and is linked
        by over 10,000 beaches, more than any other country in the world. More
        than 85 per cent of Australians live within 50 kilometres of the coast,
        making it an integral part of our laid-back lifestyle.
      </p>
    </div>

    <div
      class="md:min-w-[200px] w-[200px] h-[200px] rounded-full border-[6px] border-primary-300 overflow-hidden sm:block hidden"
    >
      <img
        src="https://ik.imagekit.io/mepl/wp-content/uploads/2021/04/11-ways-australian.jpg"
        alt="AU's university"
        class="w-full h-full object-cover"
      />
    </div>
  </div>

  <div class="flex flex-col gap-4 mt-4">
    <GuideStepper client:load />
  </div>

  <p class="sm:text-lg text-base mt-6 font-[400] text-black">
    Things to consider before and after reaching Australia such as Health
    Insurance, SIM cards, Money Exchange, and bank accounts. Talk to us <a
      href="/contact-us"
      class="text-primary-300 hover:text-primary-400"
    >
      here</a
    >!
  </p>

  <div class="relative overflow-x-auto mt-8">
    <table class="w-full text-sm text-left rtl:text-right bg-[#f5f5f5] border">
      <thead class="text-xs text-gray-700 uppercase">
        <tr>
          <th scope="col" class="sm:px-6 px-2 py-6 sm:text-xl text-lg border">
            Study Plan
          </th>
          <th scope="col" class="sm:px-6 px-2 py-6 sm:text-xl text-lg border">
            Fee
          </th>
        </tr>
      </thead>
      <tbody>
        {
          studyPlanFees.map(({ plan, fee }) => (
            <tr class="bg-white border-b ">
              <th
                scope="row"
                class="sm:px-6 px-2 py-4 text-gray-900 text-sm sm:text-lg border"
              >
                {plan}
              </th>
              <td class="sm:px-6 px-2 py-4 text-sm sm:text-lg border">{fee}</td>
            </tr>
          ))
        }
      </tbody>
    </table>

    <h6 class="text-2xl md:text-3xl mt-12 py-4 font-semibold">Living Costs</h6>

    <p class="text-base text-slate-800">
      Knowing the average living costs in Australia is an important part of your
      financial preparation. To get a better idea, check out the Cost of Living
      per week in the following.
    </p>

    <table
      class="w-full text-sm text-left rtl:text-right bg-[#f5f5f5] border mt-6"
    >
      <thead class="text-xs text-gray-700">
        <tr>
          <th scope="col" class="sm:px-6 px-2 py-6 sm:text-xl text-lg border">
            City
          </th>
          <th scope="col" class="sm:px-6 px-2 py-6 sm:text-xl text-lg border">
            Living Arrangement
          </th>
          <th scope="col" class="sm:px-6 px-2 py-6 sm:text-xl text-lg border">
            Cost per Week
          </th>
        </tr>
      </thead>
      <tbody>
        {
          livingCosts.map(({ city, livingArrangement, costPerWeek }, index) => (
            <tr class={index % 2 === 0 ? "bg-white" : "bg-gray-100"}>
              <td class="sm:px-6 px-2 py-4 text-gray-900 text-sm sm:text-lg border">
                {city}
              </td>
              <td class="sm:px-6 px-2 py-4 text-sm sm:text-lg border">
                {livingArrangement || "-"}
              </td>
              <td class="sm:px-6 px-2 py-4 text-sm sm:text-lg border">
                {costPerWeek}
              </td>
            </tr>
          ))
        }
      </tbody>
    </table>

    <article class="prose mx-auto mt-8">
      <!-- <LivingCosts /> -->
    </article>
  </div>
</div>
