<section>
  <!-- Container -->
  <div class="mx-auto w-full max-w-7xl px-5 py-16 md:px-10 md:py-24 lg:py-32">
    <!-- Title -->
    <div class="flex flex-col items-center text-center">
      <h2 class="text-3xl font-bold">Schedule Your Consultation</h2>
      <p
        class="mx-auto mb-8 mt-4 max-w-sm md:max-w-3xl text-base text-[#636262] md:mb-12 md:text-lg lg:mb-16"
      >
        Book an appointment with Seed Education's experienced counselors.
        Whether you're in Australia or anywhere else, our experts are ready to
        guide you through your educational journey. Fill out the form below, and
        let's plan your path to success together.
      </p>
    </div>
    <!-- Content -->
    <div class="grid gap-4 sm:grid-cols-3 md:grid-cols-3 md:gap-4 lg:gap-6">
      <!-- Item -->
      <div
        class="grid gap-6 rounded-md border border-solid border-[#cdcdcd] p-8 md:p-10"
      >
        <img
          src="https://assets.website-files.com/6458c625291a94a195e6cf3a/6458c625291a945e53e6cf8f_Ellipse%2011%20(1).svg"
          alt=""
          class="inline-block h-16"
        />
        <h3 class="text-xl font-semibold">Personalized Consultation</h3>
        <p class="text-sm text-[#636262]">
          Tailor every step of the appointment process to meet the unique needs
          of each user.
        </p>
      </div>
      <!-- Item -->
      <div
        class="grid gap-6 rounded-md border border-solid border-[#cdcdcd] p-8 md:p-10"
      >
        <img
          src="https://assets.website-files.com/6458c625291a94a195e6cf3a/6458c625291a945e53e6cf8f_Ellipse%2011%20(1).svg"
          alt=""
          class="inline-block h-16"
        />
        <h3 class="text-xl font-semibold">Expert Guidance</h3>
        <p class="text-sm text-[#636262]">
          Receive dedicated support from experienced counselors throughout the
          appointment booking journey.
        </p>
      </div>
      <!-- Features Item -->
      <div
        class="grid gap-6 rounded-md border border-solid border-[#cdcdcd] p-8 md:p-10"
      >
        <img
          src="https://assets.website-files.com/6458c625291a94a195e6cf3a/6458c625291a945e53e6cf8f_Ellipse%2011%20(1).svg"
          alt=""
          class="inline-block h-16"
        />
        <h3 class="text-xl font-semibold">Flexible Communication Channels</h3>
        <p class="text-sm text-[#636262]">
          Enjoy flexibility in choosing communication methods for a personalized
          appointment experience.
        </p>
      </div>
    </div>
  </div>
</section>
