---
import Layout from "../../../layouts/Layout.astro";
import Breadcrumb from "../../../components/common/Breadcrumb.astro";
import Content from "../../../components/student-essentials/oversea-student-health-cover/Content.astro";
---

<Layout title="SEED | OSHC">
  <div class="relative h-[500px] overflow-hidden">
    <div
      class="absolute inset-0 bg-cover bg-[url('https://i.postimg.cc/8Cr54MDn/study-skills-healthcare-students.webp')] bg-center bg- w-screen min-h-[350px] bg-no-repeat brightness-75"
    >
    </div>
    <div class="absolute inset-0 bg-black opacity-50"></div>
    <div
      class="absolute inset-0 flex flex-col justify-center items-center text-white px-5"
    >
      <h1 class="sm:text-6xl text-center text-3xl font-bold">
        Oversea Student Health Cover
      </h1>
      <Breadcrumb
        routeName="Oversea Student Health Cover"
        link="essentials/student-accommodation"
      />
      <p class="sm:text-lg text-base mt-6 text-center">
        Your Well-Being, Our Priority
      </p>
    </div>
  </div>
  <Content />
</Layout>
