<div class="max-w-7xl mx-auto px-2 py-[100px]">
    <h6 class="text-4xl font-bold text-black">Privacy Policy</h6>
    <p class="text-base font-[300] text-black mt-2">lasted updated - 29/11/2023</p>

    <div class="mt-6">
        <h6 class="text-xl font-[500] text-black">We Respect Your Privacy</h6>
        {
            [0,1,2,3,4].map(() => <p class="text-base font-[400] text-black mt-4 tracking-wide">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti et facilis nobis dolor fugit, optio quis culpa. Quia necessitatibus, 
            dignissimos voluptates consectetur incidunt rerum quas. Velit voluptatem suscipit rem asperiores.
             Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti et facilis nobis dolor fugit, optio quis culpa. Quia necessitatibus, 
            dignissimos voluptates consectetur incidunt rerum quas. Velit voluptatem suscipit rem asperiores.
             Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti et facilis nobis dolor fugit, optio quis culpa. Quia necessitatibus, 
            dignissimos voluptates consectetur incidunt rerum quas. Velit voluptatem suscipit rem asperiores.
        </p>)
        }
    </div>

     <div class="mt-6">
        <h6 class="text-xl font-[500] text-black underline">Other Informations</h6>
        {
            [0,1,2,3,4].map(() => <p class="text-base font-[400] text-black mt-4 tracking-wide">
            - <span class="font-bold text-lg">This is test title : </span> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum, omnis enim? Dicta neque ipsa accusantium, assumenda, a asperiores omnis, 
            consectetur sapiente eaque aliquam ratione commodi laborum culpa numquam molestias totam.
        </p>)
        }
    </div>
</div>