---
import BankingOptions from "./BankingOptions.astro";
---

<div class="max-w-7xl mx-auto px-5 sm:py-[50px] py-[20px]">
  <div class="mb-8 flex flex-col items-start gap-4">
    <h1 class="text-3xl font-semibold my-2">
      Banking Made Easier for International Students
    </h1>
    <p class="text-base text-slate-800">
      At Seed Education, we understand that managing finances is a crucial
      aspect of your student journey. Our Student Banking services are designed
      to provide you with convenient and tailored solutions, empowering you on
      your path to financial success.
    </p>
  </div>

  <div class="my-8">
    <p class="text-slate-800">
      As a student, your banking needs are unique. Seed Student Banking offers a
      range of features specifically crafted to simplify your financial
      transactions, promote savings, and ensure your financial well-being during
      your academic journey.
    </p>
  </div>

  <div class="my-8">
    <h3 class="text-3xl font-semibold my-2">
      Why Choose Seed Student Banking?
    </h3>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-center">
      <div class="col-span-1">
        <img
          src="https://i.postimg.cc/tT0gRq0X/Melbourne-Flinder-Stree.jpg"
          alt="Seed Student Banking"
          class="max-w-full h-auto rounded-xl"
        />
      </div>
      <div class="col-span-1">
        <p class="my-8 text-slate-800">
          Seed Student Banking understands the financial challenges students
          face. Our services include low or no-fee accounts, easy accessibility
          through mobile and online banking, and personalized support tailored
          to your unique financial needs.
        </p>
        <p class="my-8 text-slate-800">
          With Seed, you can enjoy benefits like budgeting tools, fee-free ATMs,
          and exclusive student offers. Manage your finances seamlessly, so you
          can focus on what matters – your education.
        </p>
        <p class="my-8 text-slate-800">
          With Seed, you can enjoy benefits like budgeting tools, fee-free ATMs,
          and exclusive student offers. Manage your finances seamlessly, so you
          can focus on what matters – your education.
        </p>
        <p class="my-8 text-slate-800">
          With Seed, you can enjoy benefits like budgeting tools, fee-free ATMs,
          and exclusive student offers. Manage your finances seamlessly, so you
          can focus on what matters – your education.
        </p>
      </div>
    </div>
  </div>

  <!-- <div class="my-8">
    <h3 class="text-2xl font-semibold my-2">
      Key Features of Seed Student Banking
    </h3>
    <ul class="list-disc ml-6 text-slate-800">
      <li>Fee-Free Student Accounts</li>
      <li>Mobile and Online Banking</li>
      <li>Budgeting Tools and Financial Education</li>
      <li>Exclusive Student Offers and Discounts</li>
      <li>24/7 Customer Support</li>
    </ul>
  </div> -->

  <BankingOptions />
  <div class="py-8 mx-auto space-y-12 max-w-screen-xl lg:space-y-20 sm:py-16">
    <div class="my-8 flex flex-col items-start gap-4">
      <h1 class="text-3xl font-semibold my-2">Show Money Assistance:</h1>
      <p class="text-base text-slate-800">
        Worried about meeting financial requirements? Seed Education assists you
        in preparing the necessary documentation, including show money, to
        fulfill visa requirements. Lorem ipsum dolor sit amet, consectetur
        adipisicing elit. Perspiciatis, error! Quis, placeat! In, non officiis
        illo odit culpa, obcaecati quae tempora voluptate est dignissimos,
        repellat laboriosam nihil aspernatur rerum ullam? Facere error
        necessitatibus aut nobis ab deleniti consequatur similique amet libero
        reiciendis voluptates est iusto omnis illo quisquam, suscipit rerum
        perferendis voluptas possimus ullam quo quaerat? Odio iste recusandae
        ipsum. Exercitationem vitae quisquam fugiat eaque autem corrupti. Neque,
        tempora obcaecati deserunt aliquid aperiam architecto dolores labore
        quas consequuntur officiis quos temporibus rem repellat nihil! Eligendi
        esse aut eos necessitatibus alias! Sed aperiam illo adipisci autem,
        recusandae aliquid incidunt rem odit nostrum! Explicabo deserunt fugit
        perspiciatis, voluptates, pariatur aut eveniet laboriosam accusamus
        omnis sapiente facilis asperiores vitae sed illo optio excepturi?
      </p>
    </div>

    <div class="my-8 flex flex-col items-start gap-4">
      <h1 class="text-3xl font-semibold my-2">Beyond Academics:</h1>
      <p class="text-base text-slate-800">
        We go beyond academics, ensuring you settle comfortably into Australian
        life. From accommodation to community integration, we've got every
        aspect of your journey covered. Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Laudantium, recusandae asperiores. Illo cupiditate id,
        minus quaerat, tempora laboriosam voluptates fugit, adipisci quis magni
        maxime? Alias quos autem dolore libero ea? Illo aspernatur reiciendis
        doloremque aliquid unde atque, et dignissimos nisi rerum soluta nihil
        assumenda tempore impedit magni, earum ratione cum quae, cumque eveniet
        reprehenderit dolores. Deleniti ex consequuntur porro quis. Start your
        journey towards financial freedom with Seed. If you have any questions
        or need assistance,{" "}
        <a href="/contact-us" class="text-blue-700">
          connect with our friendly team.</a
        >
      </p>
    </div>
  </div>
</div>
