---
import SInput from "../common/SInput.astro";
import STextarea from "../common/STextarea.astro";
---

<div class="w-full py-10 sm:px-6 bg-white sm:shadow-lg rounded-md sm:border border-black border-opacity-5">
  <form 
    class="flex flex-col gap-4"    
    action="https://formsubmit.co/codetest.cr@gmail.com"
    method="POST"
  >
    <input type="hidden" name="_template" value="table" />
    <div class="grid sm:grid-cols-2 grid-cols-1 gap-4">
      <SInput name="name" placeholder="Name*" />
      <SInput type="email" name="email" placeholder="Email*" />
    </div>
    <SInput name="phone" placeholder="Phone Number*" />
    <STextarea name="message" placeholder="Your Message*" />
    <div class="flex justify-end">
      <button type="submit" class="px-10 py-3 text-lg font-bold bg-black text-white rounded">
        Submit
      </button>
    </div>
  </form>
</div>
