<div class="w-screen min-h-[500px] relative bg-no-repeat bg-center bg-cover " style={{backgroundImage: "url(/assets/images/contactUs.jpg)"}}>
  <div class="w-full h-full bg-black bg-opacity-70 absolute top-0 left-0 z-10 flex flex-col justify-center items-center gap-4">
    <h6 class="text-4xl text-white font-bold">Contact Us</h6>
    <div class="flex items-center gap-2">
      <a href="" class="text-gray-300 text-base font-[400] hover:underline">
        Home
      </a>
      <div class="w-[5px] h-[5px] rounded-full bg-white" />
      <a href="" class="text-gray-300 text-base font-[400]">
        Contact Us
      </a>
    </div>
  </div>
</div>
