---
import Breadcrumb from "../../../components/common/Breadcrumb.astro";
import BankingOptions from "../../../components/student-essentials/student-banking/BankingOptions.astro";
import Content from "../../../components/student-essentials/student-banking/Content.astro";
import Layout from "../../../layouts/Layout.astro";
---

<Layout title="Student Banking">
  <div class="relative h-[350px] overflow-hidden">
    <div
      class="absolute inset-0 bg-cover bg-[url('https://images.unsplash.com/photo-1531545514256-b1400bc00f31?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')] bg-center bg- w-screen min-h-[350px] bg-no-repeat brightness-75"
    >
    </div>
    <div class="absolute inset-0 bg-black opacity-50"></div>
    <div
      class="absolute inset-0 flex flex-col justify-center items-center text-white"
    >
      <h1 class="sm:text-7xl text-center text-4xl font-bold">
        Student Banking
      </h1>
      <Breadcrumb
        routeName="Student Banking"
        link="essentials/student-banking"
      />
      <p class="sm:text-lg text-base mt-6 text-center">
        Forge Your Path to Australian Education Excellence with Seed Education
      </p>
    </div>
  </div>
  <Content />
  <!-- <BankingOptions /> -->
</Layout>
