---
import Layout from "../layouts/Layout.astro";
import Breadcrumb from "../components/common/Breadcrumb.astro"
import Content from "../components/studyInAustralia/Content.astro";
---

<Layout title="SEED | Study In Australia">
   <div class="relative h-[350px] overflow-hidden">
    <div
      class="absolute inset-0 bg-cover bg-[url('https://media.cnn.com/api/v1/images/stellar/prod/191011110307-02-australia-beautiful-places.jpg?q=w_2187,h_1230,x_0,y_0,c_fill/h_618')] bg-center bg- w-screen min-h-[350px] bg-no-repeat brightness-50"
    >
    </div>
    <div class="absolute inset-0 bg-black opacity-50"></div>
    <div
      class="absolute inset-0 flex flex-col justify-center items-center text-white"
    >
      <h1 class="sm:text-7xl text-center text-4xl font-bold">Study In Australia</h1>
      <Breadcrumb routeName="Study In Australia" link="study-in-australia" />
      <p class="sm:text-lg text-base mt-6 text-center">Empowering your Dreams towards a Bright Future</p>
    </div>
  </div>

  <Content />
</Layout>
