---
import OurTeam from "../../components/about-us/OurTeam.astro";
import Testimonials from "../../components/about-us/Testimonials.astro";
import Breadcrumb from "../../components/common/Breadcrumb.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="SEED | About Us">
  <div class="relative h-[500px] overflow-hidden">
    <div
      class="absolute inset-0 bg-cover bg-[url('https://images.unsplash.com/photo-1624138784614-87fd1b6528f8?q=80&w=1333&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')] bg-center bg- w-screen min-h-[350px] bg-no-repeat brightness-50"
    >
    </div>
    <div class="absolute inset-0 bg-black opacity-50"></div>
    <div
      class="absolute inset-0 flex flex-col justify-center items-center text-white px-5"
    >
      <h1 class="text-3xl lg:text-6xl font-bold text-center">About Us</h1>
      <Breadcrumb routeName="About Us" link="about-us" />
      <p class="text-lg mt-6 text-center">
        Empowering your Dreams towards a Bright Future
      </p>
    </div>
  </div>

  <!-- <div class="w-full pt-20 border-b-2">
    <div class="mx-auto max-w-5xl text-center">
      <p
        class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl"
      >
        What's Seed Education ?
      </p>
      <p class="mx-auto mb-8 mt-4 text-base text-[#636262] md:text-lg">
        SEED Education was founded by a team of graduates from Australian
        universities, who have navigated the challenges and opportunities of
        their own education journeys, understand the concerns students may face.
        Our mission is to support you by leveraging our firsthand experiences.
        As qualified education agent counselors, we are committed to guiding
        international students in obtaining a high-quality education and
        unlocking potential career opportunities through partnerships with
        prestigious institutions in Australia. Allow us to share our insights
        and assist you on your education path, ensuring a smooth and rewarding
        experience in pursuing your academics and career goals.
      </p>
    </div>
  </div> -->

  <div class="w-full py-20 border-b-2 px-2 sm:px-4 md:px-6 lg:px-20">hi</div>

  <Testimonials />
  <OurTeam />
</Layout>
