---
import OurTeam from "../../components/about-us/OurTeam.astro";
import Testimonials from "../../components/about-us/Testimonials.astro";
import Breadcrumb from "../../components/common/Breadcrumb.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="SEED | About Us">
  <div class="relative h-[350px] overflow-hidden">
    <div
      class="absolute inset-0 bg-cover bg-[url('https://images.unsplash.com/photo-1624138784614-87fd1b6528f8?q=80&w=1333&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')] bg-center bg- w-screen min-h-[350px] bg-no-repeat brightness-50"
    >
    </div>
    <div class="absolute inset-0 bg-black opacity-50"></div>
    <div
      class="absolute inset-0 flex flex-col justify-center items-center text-white"
    >
      <h1 class="text-7xl font-bold">About Us</h1>
      <Breadcrumb routeName="About Us" link="about-us" />
      <p class="text-lg mt-6 text-center">
        Empowering your Dreams towards a Bright Future
      </p>
    </div>
  </div>
  <Testimonials />
  <OurTeam />
</Layout>
