<div class="w-full relative py-20">
  <div
    class="max-w-7xl mx-auto px-5 flex lg:flex-row flex-col lg:items-center items-start gap-4"
  >
    <div class="lg:w-2/3 w-full">
      <div class="flex items-center gap-4 mb-6">
        <img
          src="/assets/icons/graduate.svg"
          alt="graduate"
          class="w-[60px] h-[60px]"
        />
        <h6 class="text-4xl font-semibold border-black text-black">
          Explore Scholarships Opportunities
        </h6>
      </div>

      <div class="flex flex-col gap-4 mt-4">
        <h6 class="font-[500] sm:text-xl text-lg text-black">
          Scholarship Options for international students in Australia
        </h6>

        <div class="flex flex-col items-start list-disc list-inside gap-4">
          <p class="sm:text-lg text-base font-[400] text-black">
            • Save on your course fees with the assistance of SEED Education
          </p>
          <p class="sm:text-lg text-base font-[400] text-black">
            • Australian universities and colleges offer diverse scholarships to
            attract top global talent. These programs, funded by both the
            government and institutions, provide significant financial
            assistance for education and living expenses, making studying in
            Australia more accessible for high-achieving students.
          </p>
          <p class="sm:text-lg text-base font-[400] text-black">
            • SEED Education, in close collaboration with Australian schools and
            colleges, provides you with exclusive access to the most recent
            scholarships and bursaries available for international students. We
            ensure that you stay informed about the latest opportunities and
            guide you through the application process.
          </p>
          <p class="sm:text-lg text-base font-[400] text-black">
            • For more details of the scholarship consultation, book with our
            expert by filling out below fields and drop a message.
          </p>
        </div>
      </div>
    </div>

    <div class="lg:w-1/3 sm:w-[500px] w-full py-4 flex flex-col gap-2">
      <div class="w-full h-[160px] lg:h-[140px] flex justify-end">
        <img
          src="/assets/images/scholarship-1.jpg"
          alt="scholarship-1"
          class="h-full sm:w-2/3 w-3/4 rounded-md object-cover"
        />
      </div>
      <div class="w-full h-[160px] lg:h-[140px] flex justify-start">
        <img
          src="/assets/images/scholarship-2.jpeg"
          alt="scholarship-1"
          class="h-full sm:w-2/3 w-3/4 rounded-md object-cover"
        />
      </div>
      <div class="w-full h-[160px] lg:h-[140px] flex justify-center">
        <img
          src="/assets/images/scholarship-3.jpg"
          alt="scholarship-1"
          class="h-full sm:w-2/3 w-3/4 rounded-md object-cover"
        />
      </div>
    </div>
  </div>
</div>
