---
import scholarshipContentData from "../../data/scholarshipContentData";
---

<div class="w-full relative py-28">
  <div
    class="max-w-7xl mx-auto px-5 flex lg:flex-row flex-col lg:items-center items-start gap-4"
  >
    <div class="lg:w-2/3 w-full">
      <div class="flex items-center gap-4 mb-6">
        <img
          src="/assets/icons/graduate.svg"
          alt="graduate"
          class="sm:w-[50px] sm:h-[50px] w-[30px] h-[30px]"
        />
        <h6 class="text-3xl font-semibold border-black text-black">
          Explore Scholarships Opportunities
        </h6>
      </div>

      <div class="flex flex-col gap-4 mt-4">
        <h6 class="font-[500] sm:text-xl text-lg text-black">
          Scholarship Options for international students in Australia
        </h6>

        <div class="flex flex-col items-start list-disc list-inside gap-8 mt-8">
          {
            scholarshipContentData?.map((data) => (
              <div class="flex items-start justify-start gap-4">
                <span class=" flex items-center justify-center min-w-[22px] h-[22px] bg-primary-400 rounded-full ring-4 ring-white">
                  <svg
                    class="sm:w-3.5 sm:h-3.5 w-2.5 h-2.5 text-white"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 16 12"
                  >
                    <path
                      stroke="currentColor"
                      strokeLinecap="round"
                      strokeLinejoin="round"
                      stroke-width="2"
                      d="M1 5.917 5.724 10.5 15 1.5"
                    />
                  </svg>
                </span>
                <p class="sm:text-lg text-base font-[400] text-black">
                  {data?.content}
                </p>
              </div>
            ))
          }
        </div>
      </div>
    </div>

    <div class="lg:w-1/3 sm:w-[500px] w-full py-4 flex flex-col gap-2">
      <div class="w-full h-[160px] lg:h-[140px] flex justify-end">
        <img
          src="/assets/images/scholarship-1.jpg"
          alt="scholarship-1"
          class="h-full sm:w-2/3 w-3/4 rounded-md object-cover"
        />
      </div>
      <div class="w-full h-[160px] lg:h-[140px] flex justify-start">
        <img
          src="/assets/images/scholarship-2.jpeg"
          alt="scholarship-1"
          class="h-full sm:w-2/3 w-3/4 rounded-md object-cover"
        />
      </div>
      <div class="w-full h-[160px] lg:h-[140px] flex justify-center">
        <img
          src="/assets/images/scholarship-3.jpg"
          alt="scholarship-1"
          class="h-full sm:w-2/3 w-3/4 rounded-md object-cover"
        />
      </div>
    </div>
  </div>

  <div class="absolute bottom-0 left-0 flex items-end justify-end w-full">
    <img
      src="/assets/images/scholarship-students.jpg"
      alt="sholarship-studebts"
      class="w-[180px] opacity-60"
    />
  </div>
</div>
