<div class="max-w-7xl mx-auto px-2 mt-20">
    <div class="flex items-center gap-4 mb-6">
        <div class="w-1 h-10 bg-primary-300"/>
        <h6 class="text-4xl font-semibold border-black text-black">Explore Scholarships Opportunities</h6>
    </div>

    <div class="flex flex-col gap-4 mt-4">
        <h6 class="font-[500] sm:text-xl text-lg text-black">Scholarship Options for international students in Australia</h6>
     
        <div class=" flex flex-col items-start list-disc list-inside gap-4">
            <p class="sm:text-lg text-base font-[400] text-black">
               1. Save on your course fees with the assistance of SEED Education
            </p>
            <p class="sm:text-lg text-base font-[400] text-black">
               2. Australian universities and vocational colleges really like students who do well in their studies, and they have many programs that give scholarships to attract the best students from all over the world. Australia has different kinds of scholarships, both from the government and universities, to attract smart students and those who want to work in the country after they finish studying. These programs often give a good amount of money, help with educational costs, and even support for living, making it easier for students to study in Australia. 
            </p>
            <p class="sm:text-lg text-base font-[400] text-black">
               3. SEED Education, in close collaboration with Australian schools and colleges, provides you with exclusive access to the most recent scholarships and bursaries available for international students. We ensure that you stay informed about the latest opportunities and guide you through the application process. 
            </p>
            <p class="sm:text-lg text-base font-[400] text-black">
               4. For more details of the scholarship consultation, book with our expert by filling out below fields and drop a message.
            </p>  
        </div>
    </div>
</div>