<div class="max-w-7xl mx-auto px-2 sm:py-[50px] py-[20px]">
  <div class="mb-8 flex flex-col items-start gap-4">
    <h1 class="text-2xl font-semibold my-2">
      Searching the right choice for your accommodation
    </h1>
    <div class="">
      <p class="text-base text-slate-800">
        Encountering a greater students’ life experience in Australia begins with finding the right accommodation in order to fit with the individual's needs and preferences.  <br> 
      </p>
      <p class="text-slate-800">
        SEED Education is always here to offer guidance and support If you find yourself overwhelmed or uncertain. Feel free to reach out to 
        <a href="mailto:info@seededuau.com.au" class="text-blue-600 underline">info@seededuau.com.au</a> and we will be more than happy to assist you in finding a perfect fit. <br>
      </p>
      <p class="text-slate-800">
        Booking your accommodation early is crucial! Once you have accepted your offer, begin considering where you want to live. <br>
      </p>
      
    </div>
  </div>


  <div class="my-8">
    <h3 class="text-2xl font-semibold my-2">
      Why Choose Seed Edu's Student Accommodation?
    </h3>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-center">
      <div class="col-span-1">
        <img
          src="https://images.unsplash.com/photo-1520881363902-a0ff4e722963?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt=""
          srcset=""
          class="max-w-full h-auto"
        />
      </div>
      <div class="col-span-1">
        <p class="my-8 text-slate-800">
          Finding the right place to stay overseas after you’ve enrolled at a
          university can entail several options, while also making it difficult
          to decide. In general, there are three types of study abroad
          accommodation choices, namely: university residence, homestay and
          apartment living.
        </p>
        <p class="my-8 text-slate-800">
          If you choose to stay at the university residence, then get ready for
          a myriad of new experiences. You’ll meet foreign students from
          different parts of the world, interact with almost everyone and
          develop long-lasting friendships. With student accommodation at
          universities, facilities like the internet, heating, or electricity
          will be provided for, unlike private apartments.
        </p>
        <p class="my-8 text-slate-800">
          However, managing your laundry and doing your own cooking would be a
          sole responsibility, depending on the university you choose. On the
          other hand, when you live in a private apartment, you’d have to manage
          the bill payments, such as the electricity, heating, internet, etc.
          However, you’d have the place all to yourself, so you can plan your
          day’s schedule accordingly.
        </p>
      </div>
    </div>
  </div>

  <div class="my-8">
    <h3 class="text-2xl font-semibold my-2">
      Explore Our Accommodation Options:
    </h3>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-center">
      <div class="col-span-1">
        <p class="my-8 text-slate-800">
          Finding the right place to stay overseas after you’ve enrolled at a
          university can entail several options, while also making it difficult
          to decide. In general, there are three types of study abroad
          accommodation choices, namely: university residence, homestay and
          apartment living.
        </p>
        <p class="my-8 text-slate-800">
          If you choose to stay at the university residence, then get ready for
          a myriad of new experiences. You’ll meet foreign students from
          different parts of the world, interact with almost everyone and
          develop long-lasting friendships. With student accommodation at
          universities, facilities like the internet, heating, or electricity
          will be provided for, unlike private apartments.
        </p>
        <p class="my-8 text-slate-800">
          However, managing your laundry and doing your own cooking would be a
          sole responsibility, depending on the university you choose. On the
          other hand, when you live in a private apartment, you’d have to manage
          the bill payments, such as the electricity, heating, internet, etc.
          However, you’d have the place all to yourself, so you can plan your
          day’s schedule accordingly.
        </p>
      </div>
      <div class="col-span-1 order-first md:order-last">
        <img
          src="https://images.unsplash.com/photo-1520881363902-a0ff4e722963?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt=""
          srcset=""
          class="max-w-full h-auto"
        />
      </div>
    </div>
  </div>

  <p class="my-8 text-slate-800">
    Finding the right place to stay overseas after you’ve enrolled at a
    university can entail several options, while also making it difficult to
    decide. In general, there are three types of study abroad accommodation
    choices, namely: university residence, homestay and apartment living.
  </p>

  <p class="text-slate-800">
    Regardless, student accommodation can give you these perks:
    <ul class="list-disc ml-6">
      <li>
        These dorms are rest assured developed in a safe and secure environment
      </li>
      <li>They are closer to the campus, so you save on travel time</li>
      <li>You get to socialize and make new friends</li>
      <li>You get accessible support staff when in need of any kind of help</li>
    </ul>
  </p>

  <div class="my-8 flex flex-col items-start gap-4">
    <h1 class="text-2xl font-semibold my-2">Your Home, Your Rules:</h1>
    <p class="text-base text-slate-800">
      We believe that your living space should reflect your personality and
      lifestyle. That's why we encourage personalization within the bounds of
      community living. Make your space uniquely yours while respecting the
      shared environment.
    </p>
  </div>



  <div class="my-8 flex flex-col items-start gap-4">
    <h1 class="text-xl font-semibold my-2">
      Explore Our Accommodation Options:
    </h1>
    <p class="text-base text-slate-800">
      Take a virtual tour of our accommodation facilities to get a glimpse of
      what could be your new home. From shared common areas to individual living
      spaces, we aim to provide an environment that supports both academic and
      personal growth.
    </p>
    <p class="text-base text-slate-800">
      At Seed Education, we are not just providing accommodation; we are
      offering a supportive and enriching living experience. Join our community
      and make your academic journey even more memorable.
    </p>
    <p class="text-base text-slate-800">
      If you want to know more about your study abroad accommodation options,
      feel free to <span class="text-blue-700"
        >connect with our friendly team.</span
      >
    </p>
  </div>

  <div class="my-8 flex flex-col items-start gap-4">
    <h1 class="text-2xl font-semibold my-2">Accommodation information sessions:</h1>
    <p class="text-base text-slate-800">
      Discover your ideal accommodation with our informative sessions! Join us for exclusive information sessions by simply registering here where we provide an insight into the best accommodation available.
    </p>
  </div>
</div>
