<div class="bg-primary-100 py-12 sm:py-20">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="grid grid-cols-1 items-center gap-x-8 gap-y-16 lg:grid-cols-2">
      <div class="mx-auto w-full max-w-xl lg:mx-0">
        <h2 class="text-2xl font-bold tracking-tight text-black">
          Acknowledgement
        </h2>
        <div class="bg-primary-500 h-[4px] w-[80px] my-4 rounded-md"></div>

        <p class="mt-6 text-lg leading-8 text-slate-800">
          SEED Education acknowledges the Traditional Owners of country
          throughout Australia and recognises their continuing connection to
          land, water and culture. We pay our respects to their elders past,
          present and emerging.
        </p>
      </div>
      <div
        class="mx-auto w-full max-w-xl items-center lg:mx-0 lg:max-w-none lg:pl-8"
      >
        <img
          class="w-full object-contain object-left"
          src="/assets/images/seed-education-acknowledgement.jpeg"
          alt="Tuple"
        />
      </div>
    </div>
  </div>
</div>
