---
import EventPreviewCard from "./EventPreviewCard.astro";
---

<div class="max-w-7xl mx-auto">
  <div class="text-dark-500 font-bold text-3xl my-4 text-center">Events</div>
  <p class="text-center text-slate-700 max-w-3xl py-3 mx-auto">
    Embark on a Journey of Discovery: Where Every Event is a Tapestry of
    Inspiration, Connecting Minds and Cultivating Growth. Join us in Unleashing
    the Potential of Every Experience, as We Celebrate Creativity.
  </p>
  <div class="flex flex-wrap justify-between max-w-7xl gap-2">
    <EventPreviewCard />
    <EventPreviewCard />
    <EventPreviewCard />
  </div>
</div>
