---
import EventPreviewCard from "./EventPreviewCard.astro";
---

<div class="max-w-7xl mx-auto my-12">
  <div class="text-primary-500 font-bold text-3xl my-2 text-center">Events</div>
  <p class="text-center text-slate-700 max-w-3xl my-2 mx-auto">
    Embark on a Journey of Discovery: Where Every Event is a Tapestry of
    Inspiration, Connecting Minds and Cultivating Growth. Join us in Unleashing
    the Potential of Every Experience, as We Celebrate Creativity.
  </p>
  <div class="flex flex-wrap justify-center max-w-7xl mx-auto gap-2 p-2">
    <EventPreviewCard class="w-full sm:w-1/2 md:w-1/4 lg:w-1/4 xl:w-1/4" />
    <EventPreviewCard class="w-full sm:w-1/2 md:w-1/4 lg:w-1/4 xl:w-1/4" />
    <EventPreviewCard class="w-full sm:w-1/2 md:w-1/4 lg:w-1/4 xl:w-1/4" />
  </div>
</div>
