<div
  class="bg-primary-100 flex flex-col md:flex-row justify-center items-center py-20 gap-28"
>
  <div>
    <img
      src="/assets/images/explore.png"
      class="w-[260px] h-[auto] object-cover rounded-sm"
    />
  </div>

  <div class="flex flex-col gap-2">
    <p class="text-2xl font-bold text-center tracking-wider">
      Not sure where to start?
    </p>
    <div class="bg-primary-500 h-[4px] w-[80px] my-4 rounded-md m-auto"></div>
    <p class="text-sm text-center max-w-xs tracking-widest">
      Explore your educational pathways with our consultation services tailored
      for your academic success
    </p>
    <div class="flex flex-row justify-center mt-2">
      <a
        href="/our-service"
        class="text-sm font-semibold leading-6 text-gray-900"
        >Learn more <span aria-hidden="true">→</span></a
      >
    </div>
  </div>
</div>
