---
import WhySeedCard from "./WhySeedCard.astro";
import whySeedData from "../../data/whySeedData";
import { fade } from "astro:transitions";
---

<!-- <div class="w-full py-20 px-5">
  <div >
    <h5 class="text-3xl text-center font-semibold text-primary-500">
      Why Seed?
    </h5>

    <div class="max-w-2xl mx-auto">
      <p class="text-center mt-2 mb-6 text-gray-600 px-4">
       With years of experience in the education industry, SEED Education brags about a team of counsellors dedicated to providing personalised guidance tailored to each students’ ambition.
      </p>
    </div>

  </div>
  <div class="flex flex-col gap-3 md:gap-4 max-w-7xl mx-auto mt-20">
    {
      whySeedData.map((wsd,index) => (
        <WhySeedCard title={wsd.title} info={wsd.info} image={wsd.image} idx={index} />
      ))
    }
  </div>
</div> -->
<div class="w-full max-w-6xl m-auto py-20 px-5">
  <h5 class="text-2xl font-semibold text-primary-500">Why Seed?</h5>

  <p class="mt-2 mb-8 text-gray-600 tracking-wider">
    With years of experience in the education industry, SEED Education brags
    about a team of counsellors dedicated to providing personalised guidance
    tailored to each students’ ambition.
  </p>

  <div class="flex flex-col md:flex-row mt-16">
    <div class="basis-1/3">
      <img
        src="https://images.pexels.com/photos/3184418/pexels-photo-3184418.jpeg?auto=compress&cs=tinysrgb&w=600"
        class="w-[100%] h-[240px] object-cover rounded-sm"
      />
    </div>
    <div
      class="basis-2/3 flex flex-col justify-center p-0 md:pl-8 relative max-w-lg"
    >
      <svg
        class="absolute w-32 h-32 right-14 opacity-10 -top-2 hidden md:block"
        fill="#ca8a04"
        viewBox="0 0 256 256"
        id="Flat"
        xmlns="http://www.w3.org/2000/svg"
        ><g id="SVGRepo_bgCarrier" strokeWidth="0"></g><g
          id="SVGRepo_tracerCarrier"
          strokeLinecap="round"
          strokeLinejoin="round"></g><g id="SVGRepo_iconCarrier">
          <path
            d="M144,32V224a12,12,0,0,1-24,0V54.417L90.6543,73.97168A11.99986,11.99986,0,1,1,77.3457,54l48-31.98584A11.99993,11.99993,0,0,1,144,32Z"
          ></path>
        </g></svg
      >
      <p class="text-xl font-semibold mt-2 text-right tracking-wider">
        Our Partners & Services
      </p>
      <p class="text-sm mt-2 text-right tracking-wider">
        We are partnering with diverse prestigious universities, VET and ELICOS.
        We take care of your application process and assist you with the
        suitable course that you have chosen to pursue in your education
        journey.
      </p>
    </div>
  </div>
  <div class="flex flex-col md:flex-row-reverse mt-16">
    <div class="basis-1/3">
      <img
        src={"/assets/images/visa-and-services.jpg"}
        class="w-[100%] h-[240px] object-cover rounded-sm"
      />
    </div>
    <div
      class="basis-2/3 flex flex-col justify-center p-0 md:pr-8 relative max-w-lg"
    >
      <svg
        class="absolute w-32 h-32 left-14 opacity-10 -top-4 hidden md:block"
        fill="#ca8a04"
        viewBox="0 0 256 256"
        id="Flat"
        xmlns="http://www.w3.org/2000/svg"
        ><g id="SVGRepo_bgCarrier" strokeWidth="0"></g><g
          id="SVGRepo_tracerCarrier"
          strokeLinecap="round"
          strokeLinejoin="round"></g><g id="SVGRepo_iconCarrier">
          <path
            d="M188,223.98828a12,12,0,0,1-12,12H80.53906c-.17969.0083-.36035.0127-.541.0127a12.00426,12.00426,0,0,1-9.4336-19.41993L158.01074,99.89258A36.00778,36.00778,0,1,0,94.82422,65.99023,11.99951,11.99951,0,1,1,72.7207,56.64209,60.00755,60.00755,0,1,1,177.74707,113.5542c-.11035.1626-.22363.32275-.3418.47949l-73.4082,97.95459H176A12.0006,12.0006,0,0,1,188,223.98828Z"
          ></path>
        </g></svg
      >
      <p class="text-xl font-semibold mt-2 tracking-wider">
        Visa & Opportunities
      </p>
      <p class="text-sm mt-2 tracking-wider">
        We help you prepare applications and lodge your visa to your chosen
        country. Beyond academics, we also give a hand in finding the
        accommodation, the plane tickets and providing a pre-departure briefing
        and many more.
      </p>
    </div>
  </div>
</div>
