---
import ArticleCard from "./ArticleCard.astro";
---

<div class="bg-white py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:max-w-4xl">
      <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
        News And Articles
      </h2>
      <p class="mt-2 text-lg leading-8 text-gray-600">
        Our curated articles cover a spectrum of topics, from study tips and
        career advice to the latest trends in technology and education.
      </p>
      <div class="mt-16 space-y-20 lg:mt-20 lg:space-y-20">
        <ArticleCard
          title={"Student Spotlight: Navigating a Dual Degree Journey"}
          description={"Meet Sarah, a trailblazing student who decided to embark on a dual degree journey. In this student spotlight, Sarah shares her challenges, triumphs, and insights into managing the demands of two academic pursuits. Get inspired by her story and gain valuable lessons for your own academic endeavors.\
          "}
          image="https://images.unsplash.com/photo-1520881363902-a0ff4e722963?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          date="May 20, 2021"
          tag="News"
        />

        <ArticleCard
          title={"Student Spotlight: Navigating a Dual Degree Journey"}
          description={"Meet Sarah, a trailblazing student who decided to embark on a dual degree journey. In this student spotlight, Sarah shares her challenges, triumphs, and insights into managing the demands of two academic pursuits. Get inspired by her story and gain valuable lessons for your own academic endeavors.\
        "}
          image="https://images.unsplash.com/photo-1520881363902-a0ff4e722963?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          date="May 20, 2021"
          tag="Article"
        />
        <ArticleCard
          title={"Student Spotlight: Navigating a Dual Degree Journey"}
          description={"Navigating the Australian Education System: A Comprehensive Guide"}
          image="https://images.unsplash.com/photo-1520881363902-a0ff4e722963?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          date="May 20, 2021"
          tag="News"
        />

        <!-- More posts... -->
      </div>
    </div>
  </div>
</div>
