<div class="max-w-7xl mx-auto sm:py-[50px] py-[20px]">
  <!-- <div class="mb-8 flex flex-col items-start gap-4">
    <h1 class="text-2xl font-semibold my-2">
      Welcome to Your Health Assurance
    </h1>
    <p class="text-base text-slate-800">
      At Seed Education, your well-being is paramount. Our Overseas Student
      Health Cover (OSHC) is crafted to ensure you have the necessary medical
      support during your educational journey in Australia.
    </p>
  </div> -->

  <section class="bg-white">
    <div
      class="gap-16 items-center py-8 px-5 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-10 lg:px-6"
    >
      <div>
        <h2 class="mb-4 text-3xl tracking-tight font-semibold">
          Your Well-Being, Our Priority
        </h2>
        <p class="mb-4">
          Welcome to Seed Education's Overseas Student Health Cover (OSHC)
        </p>
        <p>
          Getting the right student health cover during your study in Australia
          We are strategists, designers and developers. Innovators and problem
          solvers. Small enough to be simple and quick.
        </p>
      </div>
      <div class="grid grid-cols-2 gap-4 mt-8">
        <img
          class="w-full rounded-lg"
          src="https://i.postimg.cc/Zn6sxfDK/bnc-rentree-1020-X680.jpg"
          alt="office content 1"
        />
        <img
          class="mt-4 w-full lg:mt-10 rounded-lg"
          src="https://i.postimg.cc/441zpkWH/medical-pic-thumb.jpg"
          alt="office content 2"
        />
      </div>
    </div>
  </section>

  <div class="my-8 px-5">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-center">
      <div class="col-span-1">
        <img
          src="https://i.postimg.cc/hGgDLwyh/61d7677951722b1fd9107578-Clinicians-Together-Intend-Health-23.webp"
          alt="Seed OSHC"
          class="max-w-full h-auto rounded-xl"
        />
      </div>
      <div class="col-span-1">
        <h3 class="text-3xl font-semibold my-3">Why Choose Seed OSHC?</h3>
        <p class="my-4 text-slate-800">
          Maintaining adequate health insurance is compulsory while you are
          studying in Australia. Therefore, we are here to help you for free of
          charge to identify the right choice for your OHSC. Thus, it will be
          worry-free during your stay as an international student.
        </p>
        <!-- <p class="my-8 text-slate-800">
          Our partnered health providers ensure that you receive quality
          healthcare services. Seed OSHC is your health companion, supporting
          you throughout your academic journey.
        </p>
        <p class="my-8 text-slate-800">
          Understanding your health coverage is essential. Explore our
          easy-to-understand guides and resources to know how Seed OSHC works,
          what's covered, and how to make the most of your health insurance
          during your stay in Australia.
        </p>
        <p class="my-8 text-slate-800">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus
          quae reprehenderit, illo maiores praesentium error quo distinctio
          repellendus perferendis consequatur eveniet neque. Provident numquam
          error hic. Itaque eos molestiae nihil?
        </p> -->
        <h3 class="text-lg font-[500] my-2">
          Overseas Student Health Cover (OSHC) will cover your medical expenses
          such as:
        </h3>
        <ul class="list-item">
          <li>1. General Practitioner (GP) visit</li>
          <li>2. Hospital</li>
          <li>3. Calling Emergency Ambulance</li>
          <li>4. Prescription medicine and many more</li>
        </ul>
      </div>
    </div>
  </div>

  <!-- <div class="my-8 px-5">
    <h3 class="text-2xl font-semibold my-2">How Seed OSHC Works</h3>
    <p class="my-8 text-slate-800">
      Understanding your health coverage is essential. Seed OSHC simplifies the
      process. Explore our guides and resources to know what's covered, how to
      make claims, and make the most of your health insurance. Lorem ipsum
      dolor, sit amet consectetur adipisicing elit. Laudantium atque illum
      reiciendis earum? Nobis exercitationem iste ipsum quo praesentium
      accusantium, optio obcaecati a excepturi eveniet, aliquid repudiandae
      recusandae assumenda ipsam. Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Rerum eveniet tenetur qui iure, laboriosam libero unde
      debitis modi sint ipsa architecto odit animi. Fuga ut assumenda a sapiente
      temporibus voluptate!
    </p>
  </div>

  <div class="my-8 px-5">
    <h3 class="text-2xl font-semibold my-2">Applying for Seed OSHC</h3>
    <p class="my-8 text-slate-800">
      Applying for Seed OSHC is a straightforward process. Our dedicated support
      team is ready to assist you with the application, ensuring you have the
      coverage you need from day one. Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Natus, cum excepturi? Animi repellat tenetur consequatur
      eius. Ex eum explicabo quo cumque, nam et officiis ea ipsa deleniti neque
      enim culpa! Exercitationem cupiditate, incidunt fuga dignissimos culpa,
      odit totam mollitia porro dolores quae, consequatur atque dolorem sequi.
      Distinctio, voluptatem reiciendis id nulla, quaerat a dolore rerum eveniet
      consequuntur iusto, incidunt doloribus! Non aperiam quae voluptas sit ab
      dolor corporis deleniti eligendi ut ducimus vel reprehenderit consequuntur
      quisquam odio vitae quod vero porro ea tenetur assumenda, delectus
      expedita accusantium suscipit nam. Rem?
    </p>
  </div>

  <div class="my-8 flex flex-col items-start gap-4 px-5">
    <h1 class="text-2xl font-semibold my-2">Explore Your Well-Being:</h1>
    <p class="text-base text-slate-800">
      Take a proactive step towards your health. Seed OSHC is more than
      insurance; it's your partner in well-being. Join us and embark on a
      journey where your health is our priority. Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Ipsa consectetur natus ut, nisi laboriosam
      earum possimus minima accusamus quisquam mollitia quibusdam tempore rem
      facere sunt fugiat corporis modi dolor reiciendis? Minima eos voluptatem
      omnis odio et sunt cum tempore laboriosam pariatur est, iste error. Quam
      ad, illum explicabo reprehenderit laborum a voluptates repellat aut
      tempora, omnis labore dolor veniam delectus. Repellat placeat id sunt quo,
      magni expedita eaque atque natus nostrum iure modi excepturi molestiae
      nemo tempore voluptate laborum. Consequatur voluptas debitis libero,
      voluptatem enim accusamus rem! Sint, officiis quis!
    </p>
    <p class="text-base text-slate-800">
      If you have any questions or need assistance,{" "}
      <a href="/contact-us" class="text-blue-700">
        connect with our friendly team.</a
      >
    </p>
  </div> -->
</div>
