<div class="max-w-7xl mx-auto px-2 sm:py-[50px] py-[20px]">
  <!-- <div class="mb-8 flex flex-col items-start gap-4">
    <h1 class="text-2xl font-semibold my-2">
      Welcome to Your Health Assurance
    </h1>
    <p class="text-base text-slate-800">
      At Seed Education, your well-being is paramount. Our Overseas Student
      Health Cover (OSHC) is crafted to ensure you have the necessary medical
      support during your educational journey in Australia.
    </p>
  </div> -->

  <section class="bg-white">
    <div
      class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6"
    >
      <div class="font-light text-slate-800 sm:text-lg">
        <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900">
          Your Well-Being, Our Priority
        </h2>
        <p class="mb-4">
          Welcome to Seed Education's Overseas Student Health Cover (OSHC) – a
          comprehensive health insurance solution tailored for international
          students. We understand that your health and well-being are crucial
          aspects of your educational journey, and our OSHC is designed to
          provide you with the support and coverage you need.
        </p>
        <p>
          We are strategists, designers and developers. Innovators and problem
          solvers. Small enough to be simple and quick.
        </p>
      </div>
      <div class="grid grid-cols-2 gap-4 mt-8">
        <img
          class="w-full rounded-lg"
          src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/content/office-long-2.png"
          alt="office content 1"
        />
        <img
          class="mt-4 w-full lg:mt-10 rounded-lg"
          src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/content/office-long-1.png"
          alt="office content 2"
        />
      </div>
    </div>
  </section>

  <div class="my-8">
    <h3 class="text-2xl font-semibold my-6">Why Choose Seed OSHC?</h3>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-center">
      <div class="col-span-1">
        <img
          src="https://images.unsplash.com/photo-1520881363902-a0ff4e722963?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="Seed OSHC"
          class="max-w-full h-auto rounded-xl"
        />
      </div>
      <div class="col-span-1">
        <p class="my-8 text-slate-800">
          Seed OSHC offers you peace of mind with its comprehensive coverage.
          Whether it's routine check-ups or emergency medical situations, we've
          got you covered.
        </p>
        <p class="my-8 text-slate-800">
          Our partnered health providers ensure that you receive quality
          healthcare services. Seed OSHC is your health companion, supporting
          you throughout your academic journey.
        </p>
        <p class="my-8 text-slate-800">
          Understanding your health coverage is essential. Explore our
          easy-to-understand guides and resources to know how Seed OSHC works,
          what's covered, and how to make the most of your health insurance
          during your stay in Australia.
        </p>
        <p class="my-8 text-slate-800">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus
          quae reprehenderit, illo maiores praesentium error quo distinctio
          repellendus perferendis consequatur eveniet neque. Provident numquam
          error hic. Itaque eos molestiae nihil?
        </p>
      </div>
    </div>
  </div>

  <div class="my-8">
    <h3 class="text-2xl font-semibold my-2">How Seed OSHC Works</h3>
    <p class="my-8 text-slate-800">
      Understanding your health coverage is essential. Seed OSHC simplifies the
      process. Explore our guides and resources to know what's covered, how to
      make claims, and make the most of your health insurance. Lorem ipsum
      dolor, sit amet consectetur adipisicing elit. Laudantium atque illum
      reiciendis earum? Nobis exercitationem iste ipsum quo praesentium
      accusantium, optio obcaecati a excepturi eveniet, aliquid repudiandae
      recusandae assumenda ipsam. Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Rerum eveniet tenetur qui iure, laboriosam libero unde
      debitis modi sint ipsa architecto odit animi. Fuga ut assumenda a sapiente
      temporibus voluptate!
    </p>
  </div>

  <div class="my-8">
    <h3 class="text-2xl font-semibold my-2">Applying for Seed OSHC</h3>
    <p class="my-8 text-slate-800">
      Applying for Seed OSHC is a straightforward process. Our dedicated support
      team is ready to assist you with the application, ensuring you have the
      coverage you need from day one. Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Natus, cum excepturi? Animi repellat tenetur consequatur
      eius. Ex eum explicabo quo cumque, nam et officiis ea ipsa deleniti neque
      enim culpa! Exercitationem cupiditate, incidunt fuga dignissimos culpa,
      odit totam mollitia porro dolores quae, consequatur atque dolorem sequi.
      Distinctio, voluptatem reiciendis id nulla, quaerat a dolore rerum eveniet
      consequuntur iusto, incidunt doloribus! Non aperiam quae voluptas sit ab
      dolor corporis deleniti eligendi ut ducimus vel reprehenderit consequuntur
      quisquam odio vitae quod vero porro ea tenetur assumenda, delectus
      expedita accusantium suscipit nam. Rem?
    </p>
  </div>

  <div class="my-8 flex flex-col items-start gap-4">
    <h1 class="text-2xl font-semibold my-2">Explore Your Well-Being:</h1>
    <p class="text-base text-slate-800">
      Take a proactive step towards your health. Seed OSHC is more than
      insurance; it's your partner in well-being. Join us and embark on a
      journey where your health is our priority. Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Ipsa consectetur natus ut, nisi laboriosam
      earum possimus minima accusamus quisquam mollitia quibusdam tempore rem
      facere sunt fugiat corporis modi dolor reiciendis? Minima eos voluptatem
      omnis odio et sunt cum tempore laboriosam pariatur est, iste error. Quam
      ad, illum explicabo reprehenderit laborum a voluptates repellat aut
      tempora, omnis labore dolor veniam delectus. Repellat placeat id sunt quo,
      magni expedita eaque atque natus nostrum iure modi excepturi molestiae
      nemo tempore voluptate laborum. Consequatur voluptas debitis libero,
      voluptatem enim accusamus rem! Sint, officiis quis!
    </p>
    <p class="text-base text-slate-800">
      If you have any questions or need assistance,{" "}
      <a href="#" class="text-blue-700"> connect with our friendly team.</a>
    </p>
  </div>
</div>
