---
import Footer from "@components/common/Footer.astro";
import Navbar from "@components/common/Navbar";
import { ViewTransitions } from "astro:transitions";
interface Props {
  title: string;
  isNavbarActive?: boolean;
  hideNavbar?: boolean;
  hideFooter?: boolean;
}

const {
  title,
  isNavbarActive = false,
  hideNavbar = false,
  hideFooter = false,
} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <link
      href="https://api.fontshare.com/v2/css?f[]=switzer@800,900,700,400,500&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://api.fontshare.com/v2/css?f[]=cabinet-grotesk@800,500,700,400&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <meta name="generator" content={Astro.generator} />

    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body class="font-inter">
    {!hideNavbar && <Navbar client:only active={isNavbarActive} />}

    <slot />

    {!hideFooter && <Footer />}

    <!-- Messenger Chat Plugin Code -->
    <div id="fb-root"></div>

    <!-- Your Chat Plugin code -->
    <div id="fb-customer-chat" class="fb-customerchat"></div>

    <script>
      var chatbox = document.getElementById("fb-customer-chat");
      chatbox.setAttribute("page_id", "102905679464641");
      chatbox.setAttribute("attribution", "biz_inbox");
    </script>

    <!-- Your SDK code -->
    <script>
      declare global {
        interface Window {
          fbAsyncInit: () => void;
        }
      }

      window.fbAsyncInit = function () {
        FB.init({
          xfbml: true,
          version: "v18.0",
        });
      };

      (function (d, s, id) {
        var js,
          fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js";
        fjs.parentNode.insertBefore(js, fjs);
      })(document, "script", "facebook-jssdk");
    </script>
  </body>
</html>
