---
import Footer from "../components/common/Footer.astro";
import Navbar from "../components/common/Navbar";
interface Props {
  title: string;
  isNavbarActive?: boolean
}

const { title, isNavbarActive = false } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <link
      href="https://api.fontshare.com/v2/css?f[]=switzer@800,900,700,400,500&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="font-switzer">
    <Navbar client:only active={isNavbarActive}/>
    <slot />
    <Footer />
  </body>
</html>
