<div class="max-w-7xl mx-auto px-2 sm:py-[50px] py-[20px] ">
    <div class="mb-8 flex flex-col items-start gap-4">
        <h6 class="font-semibold text-4xl text-black py-6 border-b-[2px] border-black">Australia</h6>
        <p class="text-base font-[400] text-black">
            Australia has always remained the top choice for higher studies among international students. According to the US Citizenship and Immigration Services (USCIS), 2,32,851 Indian students went to the Australia for higher studies in 2021. The number of Indian students in the US increased by more than 12% in 2021. US is home to the maximum number of top universities in the world. 
            There is always an eagerness among international students for going to the US and experience the higher education system there.
        </p>
    </div>

    <!-- Education System  -->
    <div class="mb-8 flex flex-col items-start gap-4">
        <h6 class="font-semibold text-4xl text-black py-6 border-b-[2px] border-black">Education System</h6>
        <div class="flex flex-col gap-3 ">
            <h6 class="font-[500] text-lg text-black">Why Study in Australia</h6>
            <p class="text-base font-[400] text-black">
                US universities has carved a niche for themselves in the STEM courses. International students looking to pursue higher studies in STEM courses prefer to go to Australia over other options. Also, it is not just the STEM courses, students looking to study business, management or arts courses can also find top universities in the US.
            </p>
        </div>
        <div class="flex flex-col gap-3 ">
            <h6 class="font-[500] text-lg text-black">Education System in Australia</h6>
            <p class="text-base font-[400] text-black">
                US Education System is categorised into different groups. First, it is the primary school followed by middle school, and then post-secondary education. When it comes to higher education system in Australia, there are 4 types of institutions in the Australia namely State College or University, Private College of University, Community Colleges, and Technology Institutes.
            </p>
        </div>
    </div>

    <!-- Study Visa Process  -->
    <div class="mb-8 flex flex-col items-start gap-4">
        <h6 class="font-semibold text-4xl text-black py-6 border-b-[2px] border-black">Study Visa Process</h6>
        <div class="flex flex-col gap-3 ">
            <h6 class="font-[500] text-lg text-black">Cost of studying in Australia</h6>
            <p class="text-base font-[400] text-black">
               The cost of studying in the US is a concern for international students. The cost of living and the studying cost makes up for total cost of studying in the Australia. The average first year cost of studying MS in Australia is around Rs 34.12 L including tuition fee and living expenses. Whereas, the first year cost of studying MBA in Australia is Rs 38.26 L. The average tuition fee for an MBA course in Australia is around Rs 27.77 L
            </p>
        </div>
        <div class="flex flex-col gap-3 ">
            <h6 class="font-[500] text-lg text-black">Australia Student Visa</h6>
            <p class="text-base font-[400] text-black">
                There are different types of US student visas and F1 visa is the most popular one. Students applying for a program that requires more than 18 hours of study in a week require an F1 visa. Those who are planning to take up their bachelor’s as well as master’s in Australia require F1 study visa. Apart from this, students going to vocational or technical students require M1 visa.
            </p>
        </div>
        <div class="flex flex-col gap-3 ">
            <h6 class="font-[500] text-lg text-black">Student visa requirements for Australia</h6>
            <p class="text-base font-[400] text-black">
               Below we have mentioned some of the student visa requirements for Australia.
            </p>
            <ul class="flex flex-col gap-2">
                {
                    ["A valid passport.","A copy of the photo you will use for your visa.","Printed copies of your DS-160 and I-901 SEVIS payment confirmations.",
                    "I-20 form.","School transcripts","English language test scores and any other official test scores mentioned on your university application.",
                    "Diploma (if applicable)", "Bank statements or other proof of finances."]
                    .map((data) => <li class="text-base font-[400] text-black list-disc list-inside">{data}</li>)
                }
            </ul>
        </div>
    </div>

    <!-- Earning and Spending -->
    <div class="mb-8 flex flex-col items-start gap-4">
        <h6 class="font-semibold text-4xl text-black py-6 border-b-[2px] border-black">Earning and Spending</h6>
        <div class="flex flex-col gap-3 ">
            <h6 class="font-[500] text-lg text-black">Post study work permit in Australia</h6>
            <p class="text-base font-[400] text-black">
                International students require an F1-Visa to study in the Australia. This visa allows them to stay for 60 days in the Australia after their graduation date. F1 visa holders can apply for OPT (Optional Practical Training) after completing their studies. Optional Practical Training (OPT) is a one-year work and stay-back permit given to international students on completion of a degree program in the US. Working after studies in the Australia is one of the most important factors that students choose to pursue higher education in the Australia. Students should know everything about the post-study work visa in the Australia before applying for the program.
            </p>
        </div>
    </div>

      <!-- Popular Courses  -->
    <div class="mb-8 flex flex-col items-start gap-4">
        <h6 class="font-semibold text-4xl text-black py-6 border-b-[2px] border-black">Popular Courses</h6>
        <div class="flex flex-col gap-3 ">
            <h6 class="font-[500] text-lg text-black">Top Courses in Australia</h6>
            <p class="text-base font-[400] text-black">
                Business and management, engineering, mathematics, and computer science and social sciences are some of the popular courses in Australia. US universities are known to offer STEM courses (Science, Technology, Engineering, and Mathematics). Some of the popular courses in Australia are:
            </p>
            <div class="grid lg:grid-cols-3 sm:grid-cols-2 grid-cols-1 gap-2 mt-4">
                {
                    ["Computer Science","Mechanical Engineering","Electrical Engineering","Computer Engineering","Finance","Biotechnology","Data science and Analytics"]
                    .map((data) => 
                    <div class="flex flex-col relative group overflow-hidden">
                        <img 
                            src="https://thesavvyimg.co.uk/wp-content/uploads/2022/08/img-crash-course-gmc-registration-1024x576.png" 
                            alt="course image" 
                            class="w-full group-hover:scale-110 transition-all duration-300 ease-in-out"
                        >
                        <div class="absolute top-0 left-0 w-full h-full bg-black z-10 bg-opacity-40 flex justify-center items-center">
                            <p class="text-2xl font-[500] text-white px-4 py-2 text-center">{data}</p>
                        </div>
                    </div>
                    )
                }
            </div>
          
        </div>
    </div>
</div>